/** 画面のタイトルの設定 */
h1 {
  width: auto;
  /*文字色*/
  color: #000000;
  /*線色*/
  border: solid 3px #000000;
  /*文字周りの余白*/
  padding: 0.5em;
  /*角丸*/
  border-radius: 0.5em;
}

/** 入力タグの設定 */
input[type=text] {
  border: 0;
  padding: 10px;
  font-size: 1.3em;
  font-family: Meiryo;
  color: #000000;
  border: solid 1px #ccc;
  margin: 10px 0 10px;
  width: 300px;
}

/** テキストエリアの設定 */
textarea {
  border: 1;
  font-size: 1.1em;
  font-family: Meiryo;
}

.button {
  margin: 7px;
}

input[type=button] {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #00bcd4;
  border-top: solid 3px #00a3d4;
  border-bottom: solid 3px #00a3d4;
  transition: .4s;
  cursor: pointer;
}

input[type=button]:hover {
  cursor: pointer;
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.contentLayout {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  width: 95%;
  padding: 10px;
  background: #A9F5F2;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}
