spring:
  application:
    name: ha-batch
  batch:
    jdbc:
      initialize-schema: never
  main:
    allow-bean-definition-overriding: true
    # Webサーバを自動で起動させないため
    web-application-type: none
  output:
    ansi:
      enabled: always
  profiles:
    # localを読み込む
    default: local
    active: local
  web: 
    resources:
      add-mappings: false
  thymeleaf:
    check-template-location: false
  freemarker:
    template-loader-path: classpath:/templates/mail-templates/
    default-encoding: UTF-8
    suffix: .ftl
    charset: UTF-8
    cache: false
ha-batch:
  health-info-migrate:
    exec-perpage-count: 100
  monthly-health-info-summary:
    exec-perpage-count: 1000
  data-purge-list:
    - table-name: user
      expired: 10
  daily-health-info-analysis:
    exec-perpage-count: 1000
    temp-dir-path: /home/admin/daily/healthinfo/
  daily-user-analysis:
    exec-perpage-count: 1000
    temp-dir-path: /home/admin/daily/user/
