/************/
/* sort.css */
/************/
@charset "UTF-8";

.sort.desc:after {
  content: "▼";
}

.sort.asc:after {
  content: "▲";
}

.pager {
  overflow: hidden;
}

.pager ul {
  list-style: none;
  position: relative;
  left: 50%;
  float: left;
}

.pager ul li {
  margin: 0 1px;
  position: relative;
  left: -50%;
  float: left;
}

.pager ul li span, .pager ul li a {
  display: block;
  font-size: 16px;
  padding: 0.6em 1em;
  border-radius: 3px;
}

.pager ul li a {
  background: #ddd;
  color: #000;
  text-decoration: none;
}

.pager ul li a:hover {
  background: #333;
  color: #FFF;
}

/* added by myself */
.pager ul li.active {
  font-weight: bold;
}