<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  th:replace="~{layout/template :: layout(~{::title},~{::body/content()},~{::link})}">
<head>
<title>パスワード再設定画面</title>
<link>
</head>
<body>

  <div class="px-4">
    <form id="userRecoveryForm" th:action="@{'~/accountrecovery/confirm/' + ${account.seqUserId}}" method="post" th:object="${userRecoveryForm}">
      <div class="container border col-7 shadow">
        <h2 class="menuTitle">パスワード再設定</h2>

        <br>
        <div class="alert alert-danger" role="alert" th:if="${errorMessage} != null" th:text="${errorMessage}"></div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>

        <input type="hidden" name="mailAddress" th:value="${account.mailAddress}" />
        <!--/* パスワードここから */-->
        <div class="form-group">
          <label class="control-label" th:text="#{password}"></label><span class="badge badge-danger">必須</span>
          <div class="checkbox">
            <input type="password" class="validate[required] form-control" th:field="*{password}" maxlength="16" required placeholder="adminpass" />
            <label class="custom-control custom-checkbox">
              <input type="checkbox" id="password-check" class="checkbox-input custom-control-input" />
              <span class="checkbox-parts custom-control-label">パスワードを表示</span>
            </label><!-- /.custom-control custom-checkbox -->
          </div><!-- /.checkbox -->
        </div><!-- /.form-group -->
        <!--/* パスワードここまで */-->

        <!--/* 確認用パスワードここから */-->
        <div class="form-group">
          <label class="control-label" th:text="#{confirmPassword}"></label><span class="badge badge-danger">必須</span>
          <div class="checkbox">
            <input type="password" class="validate[required,equals[password]] form-control" th:field="*{confirmPassword}" maxlength="16" required placeholder="adminpass" />
            <label class="custom-control custom-checkbox">
              <input type="checkbox" id="confirmPassword-check" class="checkbox-input custom-control-input" />
              <span class="checkbox-parts custom-control-label">パスワードを表示</span>
            </label><!-- /.custom-control custom-checkbox -->
          </div><!-- /.checkbox -->
        </div><!-- /.form-group -->
        <!--/* 確認用パスワードここまで */-->

        <!--/* ボタン部ここから */-->
        <input type="submit" class="btn btn-success w-25" value="確 認" />
        <input type="reset" class="btn btn-secondary w-25" value="リセット" />
        <!--/* ボタン部ここまで */-->
        <br><br>
      </div><!-- /.container border col-7 shadow -->
    </form><!-- /#userRecoveryForm -->
  </div><!-- /.px-4 -->

  <script th:src="@{/static/js/common/password.min.js}"></script>
</body>
</html>