<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  th:replace="~{layout/template :: layout(~{::title},~{::body/content()},~{::link})}">
<head>
<title>パスワード再設定画面</title>
<link>
</head>
<body>

  <div class="container d-flex justify-content-center mt-5">
    <div class="card shadow w-100" style="max-width: 600px;">
      <div class="card-body">
        <form method="post" id="userRecoveryForm" th:action="@{'~/accountrecovery/confirm/' + ${account.seqUserId}}" th:object="${userRecoveryForm}">

          <h2 class="card-title text-center mb-4">🔑 パスワード再設定</h2>

          <!-- エラーメッセージ -->
          <div th:if="${errorMessage != null}" class="alert alert-danger" th:text="${errorMessage}"></div>
          <div th:each="errField : ${#fields.errors()}" class="alert alert-danger" th:text="${errField}"></div>

          <input type="hidden" name="mailAddress" th:value="${account.mailAddress}" />

          <!-- パスワード入力 -->
          <div class="form-group">
            <label for="password" class="font-weight-bold" th:text="#{password}">パスワード</label>
            <span class="badge badge-danger ml-2">必須</span>
            <input type="password" id="password" class="form-control" th:field="*{password}" maxlength="16" required placeholder="adminpass" />
            <div class="form-check mt-2">
              <input type="checkbox" id="password-check" class="form-check-input">
              <label class="form-check-label" for="password-check">パスワードを表示</label>
            </div><!-- /.form-check mt-2 -->
          </div><!-- /.form-group -->

          <!-- 確認パスワード -->
          <div class="form-group">
            <label for="confirmPassword" class="font-weight-bold" th:text="#{confirmPassword}">確認用パスワード</label>
            <span class="badge badge-danger ml-2">必須</span>
            <input type="password" id="confirmPassword" class="form-control" th:field="*{confirmPassword}" maxlength="16" required placeholder="adminpass" />
            <div class="form-check mt-2">
              <input type="checkbox" id="confirmPassword-check" class="form-check-input">
              <label class="form-check-label" for="confirmPassword-check">パスワードを表示</label>
            </div><!-- /.form-check mt-2 -->
          </div><!-- /.form-group -->

          <!-- ボタン -->
          <div class="text-center mt-4">
            <input type="submit" class="btn btn-success mr-2 w-25" value="確 認" />
            <input type="reset" class="btn btn-secondary w-25" value="リセット" />
          </div><!-- /.text-center mt-4 -->

        </form><!-- /#userRecoveryForm -->
      </div><!-- /.card-body -->
    </div><!-- /.card shadow w-100 -->
  </div><!-- /.container d-flex justify-content-center mt-5 -->

  <script th:src="@{/static/js/common/password.min.js}"></script>
</body>
</html>