<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  th:replace="~{layout/template :: layout(~{::title},~{::body/content()},~{::link})}">
<head>
<title>アカウント回復用メールアドレス入力画面</title>
<link>
</head>
<body>

  <div class="container d-flex justify-content-center mt-5">
    <div class="card shadow w-100" style="max-width: 600px;">
      <div class="card-body">

        <!-- アカウント回復メール送信前 -->
        <form id="userRecoveryMailAddressInputForm" th:action="@{/accountrecovery/sendMail}" method="post" th:object="${userRecoveryMailAddressInputForm}" th:if="${isInputMailAddress}">
          <h2 class="card-title text-center mb-4">🔐 アカウント回復</h2>
          <div th:if="${#fields.hasErrors('mailAddress')}" class="alert alert-danger" th:errors="*{mailAddress}"></div>
          <div class="alert alert-info" role="alert">
            パスワードを再設定するため、登録済みのメールアドレスを入力してください。
          </div>

          <!--/* メールアドレスここから */-->
          <div class="form-group">
            <label for="mailAddress" class="font-weight-bold" th:text="#{mailAddress}">メールアドレス</label>
            <span class="badge badge-danger ml-2">必須</span>
            <input type="email" id="mailAddress"  class="validate[required,custom[email]] form-control" th:field="*{mailAddress}" maxlength="64" required placeholder="test@example.com" />
            <div id="suggest" class="mt-1 text-info small cursor-pointer"></div>
          </div>
		  <!--/* メールアドレスここまで */-->

          <!-- ボタン -->
          <div class="text-center mt-4">
            <input type="submit" class="btn btn-success btn-block" value="メール送信" />
          </div>
        </form>

        <!-- アカウント回復メール送信後 -->
        <div th:if="${isSendMailAddress}">
          <h2 class="card-title text-center mb-4">📧 メール送信完了</h2>
          <div class="alert alert-info">
            <p>アカウント回復用メールを以下の件名で送信しました。</p>
            <b th:text="${'パスワード再設定' + #dates.format(#dates.createNow(), 'yyyyMMdd')}"></b>
            <p class="mb-0">メール内のURLをクリックし、画面の指示に従ってください。</p>
          </div>
        </div>

      </div><!-- /.card-body -->
    </div><!-- /.card -->
  </div><!-- /.container -->

  <script th:src="@{/static/js/lib/mailcheck.min.js}"></script>
  <script>
    $(function() {
        const domains = [
            "gmail.com",
            "yahoo.co.jp",
            "ezweb.ne.jp",
            "au.com",
            "docomo.ne.jp",
            "i.softbank.jp",
            "softbank.ne.jp",
            "outlook.com",
            "outlook.jp"
          ];
        $("#mailAddress").on("blur", function() {
            $(this).mailcheck({
              domains: domains,
              suggested: function(element, suggestion) {
                $("#suggest").text(suggestion.full);
                $("#suggest").on("click", function() {
                  $("#mailAddress").val(suggestion.full);
                  $(this).hide();
                });
              }
            });
          });
    });
    </script>
</body>
</html>