<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.ha.db.mapper.composit.CompositAccountMapper">
  <resultMap id="BaseResultMap" type="jp.co.ha.db.entity.composit.CompositAccount">
    <id column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="DELETE_FLAG" jdbcType="VARCHAR" property="deleteFlag" />
    <result column="PASSWORD_EXPIRE" jdbcType="DATE" property="passwordExpire" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="API_KEY" jdbcType="VARCHAR" property="apiKey" />
    <result column="MAIL_ADDRESS" jdbcType="VARCHAR" property="mailAddress" />
    <result column="MAIL_PASSWORD" jdbcType="VARCHAR" property="mailPassword" />
    <result column="HEADER_FLAG" jdbcType="VARCHAR" property="headerFlag" />
    <result column="FOOTER_FLAG" jdbcType="VARCHAR" property="footerFlag" />
    <result column="MASK_FLAG" jdbcType="VARCHAR" property="maskFlag" />
    <result column="ENCLOSURE_CHAR_FLAG" jdbcType="VARCHAR" property="enclosureCharFlag" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="jp.co.ha.db.entity.composit.CompositAccountKey" resultMap="BaseResultMap">
    select
      <!-- ACCOUNT -->
      AC.USER_ID
      , AC.PASSWORD
      , AC.DELETE_FLAG
      , AC.PASSWORD_EXPIRE
      , AC.REMARKS
      , AC.API_KEY
      <!-- MAIL_INFO -->
      , MI.MAIL_ADDRESS
      , MI.MAIL_PASSWORD
      <!-- HEALTH_INFO_FILE_SETTING -->
      , HF.HEADER_FLAG
      , HF.FOOTER_FLAG
      , HF.MASK_FLAG
      , HF.ENCLOSURE_CHAR_FLAG
    from
      ACCOUNT AC
      LEFT OUTER JOIN MAIL_INFO MI
        ON AC.USER_ID = MI.USER_ID
      LEFT OUTER JOIN HEALTH_INFO_FILE_SETTING HF
        ON AC.USER_ID = HF.USER_ID
    where
      AC.USER_ID = #{userId,jdbcType=VARCHAR}
  </select>
</mapper>