/**************/
/* layout.css */
/**************/
@charset "UTF-8";

.menuTitle {
  margin: 5px;
  padding: 5px;
}

/* 戻るボタン */
.browseBack {
  width: 20px;
  height: 20px;
}

.errorMessage {
  background: #96ef10;
  color: #000000;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
  margin: 10px 200px;
  text-align: center;
  font-weight: bold;
  border: 2px #FF0000 dashed;
}

.contentLayout {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 95%;
  padding: 5px;
  background: #d2e8d561;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

.header {
  margin: 10px;
  padding: 10px;
}

.footer {
  margin: 10px;
  padding: 10px;
}

table.data {
  /* セルの線を重ねる */
  border-collapse: collapse;
}

tr.data:nth-child(odd) {
  /* 背景色指定 */
  background-color: #ddd;
}

th.data, td.data {
  /* 余白指定 */
  padding: 5px 10px;
}

.menuTitle:hover {
  cursor: pointer;
}
