/*******************/
/* loginLayout.css */
/*******************/

@import
	url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

@import url(https://fonts.googleapis.com/css?family=Raleway:700);

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

fieldset {
	width: 400px;
	margin: 0 auto;
	margin-top: 8px;
	margin-bottom: 2%;
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
}

h1 {
	background: #32cd32;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
}

form {
	background: #f0f0f0;
	padding: 6% 4%;
}

input[type="password"], input[type="text"] {
	width: 76%;
	/* height: 20px; */
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 4% 4% 4% 4%;
	font-family: 'Open Sans', sans-serif;
	font-size: 95%;
	color: #555;
}

.icon {
	width: 20px;
	height: 20px;
	background-color: #32cd32;
	float: left;
	padding: 4% 4% 4% 4%;
	margin-bottom: 4%;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #ccc;
}

.iconPassword {
	background-image:
		url(https://cdn4.iconfinder.com/data/icons/font-awesome-2/2048/f09c-32.png);
}

.iconUser {
	background-image:
		url(https://cdn4.iconfinder.com/data/icons/font-awesome-2/2048/f007-32.png);
}

input[type="submit"], input[type="button"] {
	width: 100%;
	background: #32cd32;
	border: 0;
	padding: 4%;
	margin-top: 4%;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	color: #fff;
	cursor: pointer;
	transition: background .3s;
	-webkit-transition: background .3s;
	border-radius: 5px;
	box-shadow: 1px 1px 10px 3px hsla(0, 0%, 0%, .6);
	cursor: pointer;
	letter-spacing: 4px;
	text-align: center;
	text-shadow: 0 2px 0 hsla(0, 0%, 0%, .25);
}

input[type="submit"]:hover, input[type="button"]:hover {
	background: #80ff80;
	box-shadow: none;
}

::-webkit-input-placeholder {

}