/******************/
/* navigation.css */
/******************/

/* メニューレイアウト */
#dropmenu {
	list-style-type: none;
	width: 960px;
	margin: 0px auto 60px;
	padding: 0;
}

#dropmenu li {
	position: relative;
	width: 20%;
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
}

#dropmenu li a {
	display: block;
	margin: 0;
	padding: 16px 0;
	background: #32cd32;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	line-height: 1;
	text-decoration: none;
}

#dropmenu li ul {
	list-style: none;
	position: absolute;
	z-index: 100;
	top: 100%;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
}

#dropmenu li ul li {
	overflow: hidden;
	width: 100%;
	height: 0;
	color: #fff;
	transition: .2s;
}

#dropmenu li ul li a {
	padding: 13px 15px;
	background: #32cd32;
	text-align: left;
	font-size: 12px;
	font-weight: normal;
}

#dropmenu>li:hover>a {
	background: #80ff80;
}

#dropmenu>li:hover li:hover>a {
	background: #80ff80;
}

#dropmenu li:hover>ul>li {
	overflow: visible;
	height: 38px;
}

#dropmenu li ul li ul {
	top: 0;
	left: 100%;
}

#dropmenu li:last-child ul li ul {
	left: -100%;
	width: 100%;
}

#dropmenu li ul li ul li a {
	background: #32cd32;
}

#dropmenu li:hover ul li ul li:hover>a {
	background: #80ff80;
}

#dropmenu li ul li ul:before {
	position: absolute;
	content: "";
	top: 13px;
	left: -20px;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-left-color: #32cd32;
}

#dropmenu li:last-child ul li ul:before {
	position: absolute;
	content: "";
	top: 13px;
	left: 200%;
	margin-left: -20px;
	border: 5px solid transparent;
	border-right-color: #32cd32;
}

.navigation {
	text-shadow: 0 2px 0 hsla(0, 0%, 0%, .25);
}

