services:

  # 健康管理アプリAPI container
  ha-api:
    build:
      context: .
      dockerfile: Dockerfile.ha-api
    environment:
      TZ: Asia/Tokyo
      # AWSプロファイル
      AWS_PROFILE: default
      DB_URL: ${DB_URL}
      DB_USER: ${DB_USER}
      DB_PW: ${DB_PW}
    volumes:
      - ~/.aws:/root/.aws:ro
    networks:
      - work-3g-network

  # 健康情報ダッシュボード container
  ha-dashboard:
    build:
      context: .
      dockerfile: Dockerfile.ha-dashboard
    environment:
      TZ: Asia/Tokyo
      # AWSプロファイル
      AWS_PROFILE: default
      DB_URL: ${DB_URL}
      DB_USER: ${DB_USER}
      DB_PW: ${DB_PW}
    volumes:
      - ~/.aws:/root/.aws:ro
    networks:
      - work-3g-network

  # 管理者用API container
  ha-root-api:
    build:
      context: .
      dockerfile: Dockerfile.ha-root-api
    environment:
      TZ: Asia/Tokyo
      # AWSプロファイル
      AWS_PROFILE: default
      DB_URL: ${DB_URL}
      DB_USER: ${DB_USER}
      DB_PW: ${DB_PW}
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - work-3g-network
  
  # 管理者用サイト front container
  ha-root-front:
    build:
      context: .
      dockerfile: Dockerfile.ha-root-front
    environment:
      TZ: Asia/Tokyo
    depends_on:
      - ha-root-api
    networks:
      - work-3g-network

  # 健康情報蓄積API container
  ha-track:
    build:
      context: .
      dockerfile: Dockerfile.ha-track
    environment:
      TZ: Asia/Tokyo
      MONGO_URI: ${MONGO_URI}
    depends_on:
      - mongo
    networks:
      - work-3g-network

# volume設定
volumes:
  mysql-data:
  mongo-data:

# ネットワーク設定
networks:
  work-3g-network:
    name: work-3g-network
