<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>健康アプリ_アカウント設定確認画面</title>
<link rel="icon" type="image/png" href="../resources/image/favicon.png" th:href="@{/resources/image/favicon.png}">
<link rel="stylesheet" type="text/css" href="../resources/css/layout.css" th:href="@{/resources/css/layout.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/input.css" th:href="@{/resources/css/input.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/navigation.css" th:href="@{/resources/css/navigation.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/menuicon.css" th:href="@{/resources/css/menuicon.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/common/headericon.css" th:href="@{/resources/css/common/headericon.css}">
</head>
<body>

  <div th:replace="layout/layout :: header"></div>

  <div th:replace="./common/navigation.html"></div>

  <!--/* contentLayout部ここから */-->
  <div align="center" class="contentLayout">
    <h2 class="menuTitle">アカウント設定確認画面</h2>

    <form action="./complete" th:action="@{./complete}" method="post" th:object="${accountSettingForm}">

      <!--/* table部ここから */-->
      <div class="table">
        <div class="table-row">
          <div class="table-header">
            <label>削除</label>
          </div>
          <div class="table-data">
            <div th:if="${form.deleteFlag} == 1">
              <label>する</label>
            </div>
            <div th:if="${form.deleteFlag} == 0">
              <label>しない</label>
            </div>
            <input type="hidden" th:field="${form.deleteFlag}" />
          </div>
        </div>
        <div class="table-row">
          <div class="table-header">
            <label>ユーザID</label>
          </div>
          <div class="table-data">
            <p th:text="${form.userId}"></p>
            <input type="hidden" th:field="${form.userId}" />
          </div>
        </div>
        <div class="table-row">
          <div class="table-header">
            <label>パスワード</label>
          </div>
          <div class="table-data">
            <input type="text" th:field="${form.password}" readonly />
          </div>
        </div>
        <div class="table-row">
          <div class="table-header">
            <label>パスワード有効期限</label>
          </div>
          <div class="table-data">
            <input type="text" th:field="*{passwordExpire}" readonly />
          </div>
        </div>
        <div class="table-row">
          <div class="table-header">
            <label>メールアドレス</label>
          </div>
          <div class="table-data">
            <input type="text" th:field="${form.mailAddress}" readonly />
          </div>
        </div>
        <div class="table-row">
          <div class="table-header">
            <label>メールパスワード</label>
          </div>
          <div class="table-data">
            <input type="text" th:field="${form.mailPassword}" readonly />
          </div>
        </div>
        <div class="table-row">
          <div class="table-header">
            <label>備 考</label>
          </div>
          <div class="table-data">
            <textarea rows="10" cols="30" th:field="${form.remarks}" readonly></textarea>
          </div>
        </div>
      </div>
      <!--/* table部ここまで */-->

      <br><br>

      <!--/* table部ここから */-->
      <div class="table">
        <div class="table-row">
          <div class="table-data">
            <input type="submit" value="確 定" />
          </div>
          <div class="table-data">&ensp;&ensp;</div>
          <div class="table-data">
            <input type="button" value="戻 る" onclick="history.back()" />
          </div>
        </div>
      </div>
      <!--/* table部ここまで */-->

    </form>
  </div>
  <!--/* contentLayout部ここまで */-->

  <div th:replace="layout/layout :: footer"></div>

  <script type="text/javascript" src="../resources/js/lib/jquery.min.js" th:src="@{/resources/js/lib/jquery.min.js}"></script>
  <script type="text/javascript" src="../resources/js/common/common.min.js" th:src="@{/resources/js/common/common.min.js}"></script>
  <script type="text/javascript">
    $(function() {

    });
  </script>
</body>
</html>