<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/layout :: head_fragment(title = '健康アプリ_アカウント設定変更確認画面', scripts = ~{::script}, links = ~{::link})">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../resources/css/lib/jquery-ui.css" th:href="@{/resources/css/lib/jquery-ui.min.css}">
</head>
<body>

  <div th:replace="layout/layout :: header"></div>
  <br><br><br><br><br><br><br>
  <main role="main" class="px-4">
    <div class="container border col-8">
      <h2 class="menuTitle">アカウント設定変更確認</h2>
      <form action="./complete" th:action="@{./complete}" method="post" th:object="${accountSettingForm}">
        <table class="table table-hover table-striped">
          <tr>
            <th colspan="2">
              <h3>アカウント設定</h3>
            </th>
          </tr>
          <tr>
            <th th:text="#{delete}"></th>
            <td>
              <div th:if="*{deleteFlag} == 1">
                <label>する</label>
              </div>
              <div th:if="*{deleteFlag} == 0">
                <label>しない</label>
              </div>
            </td>
          </tr>
          <tr>
            <th th:text="#{userId}"></th>
            <td th:text="*{userId}"></td>
          </tr>
          <tr>
            <th th:text="#{password}"></th>
            <td>****</td>
          </tr>
          <tr>
            <th th:text="#{passwordExpire}"></th>
            <td th:text="*{passwordExpire}"></td>
          </tr>
        </table><!-- /.table table-hover table-striped -->
        <table class="table table-hover table-striped">
          <tr>
            <th colspan="2">
              <h3>メール設定</h3>
            </th>
          </tr>
          <tr>
            <th th:text="#{mailAddress}"></th>
            <td th:text="*{mailAddress}"></td>
          </tr>
          <tr>
            <th th:text="#{mailPassword}"></th>
            <td>****</td>
          </tr>
        </table><!-- /.table table-hover table-striped -->
        <table class="table table-hover table-striped">
          <tr>
            <th colspan="2">
              <h3>健康情報ファイル設定</h3>
            </th>
          </tr>
          <tr>
            <th th:text="#{headerUse}"></th>
            <td>
              <div th:if="*{headerFlag} == 1">
                <label>する</label>
              </div>
              <div th:if="*{headerFlag} == 0">
                <label>しない</label>
              </div>
            </td>
          </tr>
          <tr>
            <th th:text="#{footerUse}"></th>
            <td>
              <div th:if="*{footerFlag} == 1">
                <label>する</label>
              </div>
              <div th:if="*{footerFlag} == 0">
                <label>しない</label>
              </div>
            </td>
          </tr>
          <tr>
            <th th:text="#{maskUse}"></th>
            <td>
              <div th:if="*{maskFlag} == 1">
                <label>する</label>
              </div>
              <div th:if="*{maskFlag} == 0">
                <label>しない</label>
              </div>
            </td>
          </tr>
          <tr>
            <th th:text="#{enclosureCharUse}"></th>
            <td>
              <div th:if="*{enclosureCharFlag} == 1">
                <label>する</label>
              </div>
              <div th:if="*{enclosureCharFlag} == 0">
                <label>しない</label>
              </div>
            </td>
          </tr>
        </table><!-- /.table table-hover table-striped -->
        <table class="table table-hover table-striped">
          <tr>
            <th th:text="#{remarks}"></th>
            <td th:text="*{remarks}"></td>
          </tr>
        </table><!-- /.table table-hover table-striped -->

        <br><br>

        <!--/* ボタン部ここから */-->
        <input type="submit" class="btn btn-success" value="確 定" />
        <input type="button" class="btn btn-secondary" value="戻 る" onclick="history.back()" />
        <!--/* ボタン部ここまで */-->
        <br><br>
      </form>
    </div><!-- /.container border col-8 -->
  </main>
  <br><br><br><br><br><br><br><br><br><br><br><br>
  <div th:replace="layout/layout :: footer"></div>

</body>
</html>