<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/layout :: head_fragment(title = '健康アプリ_アカウント設定確認画面', scripts = ~{::script}, links = ~{::link})">
<link rel="stylesheet" type="text/css" href="../resources/css/navigation.css" th:href="@{/resources/css/navigation.min.css}">
</head>
<body>

  <div th:replace="layout/layout :: header"></div>

  <div th:replace="./common/navigation.html"></div>

  <!--/* contentLayout部ここから */-->
  <div align="center" class="contentLayout">
    <h2 class="menuTitle">アカウント設定確認画面</h2>

    <form action="./complete" th:action="@{./complete}" method="post" th:object="${accountSettingForm}">

      <!--/* table部ここから */-->
      <div class="table">
        <div class="table-row">
          <div class="table-header" th:text="#{delete}"></div>
          <div class="table-data">
            <div th:if="*{deleteFlag} == 1">
              <label>する</label>
            </div>
            <div th:if="*{deleteFlag} == 0">
              <label>しない</label>
            </div>
          </div>
        </div>
        <div class="table-row">
          <div class="table-header" th:text="#{userId}"></div>
          <div class="table-data" th:text="*{userId}"></div>
        </div>
        <div class="table-row">
          <div class="table-header" th:text="#{password}"></div>
          <div class="table-data">****</div>
        </div>
        <div class="table-row">
          <div class="table-header" th:text="#{passwordExpire}"></div>
          <div class="table-data" th:text="*{passwordExpire}"></div>
        </div>
        <div class="table-row">
          <div class="table-header" th:text="#{mailAddress}"></div>
          <div class="table-data" th:text="*{mailAddress}"></div>
        </div>
        <div class="table-row">
          <div class="table-header" th:text="#{mailPassword}"></div>
          <div class="table-data">****</div>
        </div>
        <div class="table-row">
          <div class="table-header" th:text="#{headerUse}"></div>
          <div class="table-data">
            <div th:if="*{headerFlag} == 1">
              <label>する</label>
            </div>
            <div th:if="*{headerFlag} == 0">
              <label>しない</label>
            </div>
          </div>
        </div>
        <div class="table-row">
          <div class="table-header" th:text="#{footerUse}"></div>
          <div class="table-data">
            <div th:if="*{footerFlag} == 1">
              <label>する</label>
            </div>
            <div th:if="*{footerFlag} == 0">
              <label>しない</label>
            </div>
          </div>
        </div>
        <div class="table-row">
          <div class="table-header" th:text="#{maskUse}"></div>
          <div class="table-data">
            <div th:if="*{maskFlag} == 1">
              <label>する</label>
            </div>
            <div th:if="*{maskFlag} == 0">
              <label>しない</label>
            </div>
          </div>
        </div>
        <div class="table-row">
          <div class="table-header" th:text="#{enclosureCharUse}"></div>
          <div class="table-data">
            <div th:if="*{enclosureCharFlag} == 1">
              <label>する</label>
            </div>
            <div th:if="*{enclosureCharFlag} == 0">
              <label>しない</label>
            </div>
          </div>
        </div>
        <div class="table-row">
          <div class="table-header" th:text="#{remarks}"></div>
          <div class="table-data" th:text="*{remarks}"></div>
        </div>
      </div>
      <!--/* table部ここまで */-->

      <br><br>

      <!--/* table部ここから */-->
      <div class="table">
        <div class="table-row">
          <div class="table-data">
            <input type="submit" value="確 定" />
          </div>
          <div class="table-data">&ensp;&ensp;</div>
          <div class="table-data">
            <input type="button" value="戻 る" onclick="history.back()" />
          </div>
        </div>
      </div>
      <!--/* table部ここまで */-->

    </form>
  </div>
  <!--/* contentLayout部ここまで */-->

  <div th:replace="layout/layout :: footer"></div>

  <script type="text/javascript">
    $(function() {

    });
  </script>
</body>
</html>