<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  th:replace="~{layout/template :: layout(~{::title},~{::body/content()},~{::link})}">
<head>
<title>アカウント設定入力</title>
<link>
</head>
<body>

  <div class="px-4">
    <div class="container border col-10 shadow">
      <h2 class="menuTitle">アカウント設定入力</h2>

      <form id="accountSettingForm" th:action="@{/accountsetting/confirm}" method="post" th:object="${accountSettingForm}">

        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('deleteFlag')}" th:errors="*{deleteFlag}"></div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('seqUserId')}" th:errors="*{seqUserId}"></div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('apiKey')}" th:errors="*{apiKey}"></div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('passwordExpire')}" th:errors="*{passwordExpire}"></div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('mailAddress')}" th:errors="*{mailAddress}"></div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('remarks')}" th:errors="*{remarks}"></div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('seqUserId')}" th:errors="*{seqUserId}"></div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('headerFlag')}" th:errors="*{headerFlag}"></div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('footerFlag')}" th:errors="*{footerFlag}"></div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('maskFlag')}" th:errors="*{maskFlag}"></div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('enclosureCharFlag')}" th:errors="*{enclosureCharFlag}"></div>

        <!--/* 削除フラグここから */-->
        <div class="form-group">
          <label class="control-label" for="delete" th:text="#{delete}"></label><span class="badge badge-danger">必須</span>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" th:field="*{deleteFlag}" id="deleteFlagFalse" value="0" checked="checked">
            <label for="deleteFlagFalse" class="custom-control-label">しない</label>
          </div><!-- /.custom-control custom-radio -->
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" th:field="*{deleteFlag}" id="deleteFlagTrue" value="1">
            <label for="deleteFlagTrue" class="custom-control-label">する</label>
          </div><!-- /.custom-control custom-radio -->
        </div><!-- /.form-group -->
        <!--/* 削除フラグここから */-->

        <!--/* ユーザIDここから */-->
        <div class="form-group">
          <p th:text="#{seqUserId}"></p>
          <p th:text="*{seqUserId}"></p>
           <input type="hidden" th:field="*{seqUserId}" th:value="${seqUserId}" />
        </div><!-- /.form-group -->
        <!--/* ユーザIDここまで */-->

        <!--/* パスワードここから */-->
        <div class="form-group">
          <label class="control-label" for="password" th:text="#{password}"></label><span class="badge badge-danger">必須</span>
          <div class="checkbox">
            <input type="password" class="validate[required] form-control" th:field="*{password}" maxlength="16" required placeholder="adminpass" />
            <label class="custom-control custom-checkbox">
              <input type="checkbox" id="password-check" class="checkbox-input custom-control-input" />
              <span class="checkbox-parts custom-control-label">パスワードを表示</span>
            </label><!-- /.custom-control custom-checkbox -->
          </div><!-- /.checkbox -->
        </div><!-- /.form-group -->
        <!--/* パスワードここまで */-->

        <!--/* パスワード有効期限日ここから */-->
        <div class="form-group">
          <label class="control-label" for="passwordExpire" th:text="#{passwordExpire}"></label><span class="badge badge-danger">必須</span>
          <input type="text" class="validate[required] form-control" th:field="*{passwordExpire}" th:value="${passwordExpire}" required placeholder="2020/03/01" />
        </div><!-- /.form-group -->
        <!--/* パスワード有効期限日ここまで */-->

        <!--/* APIキーここから */-->
        <div class="form-group">
          <label for="apiKey" th:text="#{apiKey}"></label>
          <p th:text="*{apiKey}"></p>
          <input type="hidden" th:field="*{apiKey}" th:value="${apiKey}" />
        </div><!-- /.form-group -->
        <!--/* APIキーここまで */-->

        <!--/* メールアドレスここから */-->
        <div class="form-group">
          <label class="control-label" for="mailAddress" th:text="#{mailAddress}"></label><span class="badge badge-danger">必須</span>
          <input type="email" class="validate[required,custom[email]] form-control" th:field="*{mailAddress}" th:value="${mailAddress}" required placeholder="test@gmail.com" />
          <div id="suggest"></div>
        </div><!-- /.form-group -->
        <!--/* メールアドレスここまで */-->

        <!--/* ヘッダ利用ここから */-->
        <div class="form-group">
          <label class="control-label" for="headerUse" th:text="#{headerUse}"></label><span class="badge badge-danger">必須</span>
          <div class="custom-control custom-radio">
            <input type="radio" class="validate[required] custom-control-input" th:field="*{headerFlag}" id="headerFlagFalse" value="0" checked />
            <label for="headerFlagFalse" class="custom-control-label">しない</label>
          </div><!-- /.custom-control custom-radio -->
          <div class="custom-control custom-radio">
            <input type="radio" class="validate[required] custom-control-input" th:field="*{headerFlag}" id="headerFlagTrue" value="1" />
            <label for="headerFlagTrue" class="custom-control-label">する</label>
          </div><!-- /.custom-control custom-radio -->
        </div><!-- /.form-group -->
        <!--/* ヘッダ利用ここまで */-->

        <!--/* フッタ利用ここから */-->
        <div class="form-group">
          <label class="control-label" for="footerUse" th:text="#{footerUse}"></label><span class="badge badge-danger">必須</span>
          <div class="custom-control custom-radio">
            <input type="radio" class="validate[required] custom-control-input" th:field="*{footerFlag}" id="footerFlagFalse" value="0" checked />
            <label for="footerFlagFalse" class="custom-control-label">しない</label>
          </div><!-- /.custom-control custom-radio -->
          <div class="custom-control custom-radio">
            <input type="radio" class="validate[required] custom-control-input" th:field="*{footerFlag}" id="footerFlagTrue" value="1" />
            <label for="footerFlagTrue" class="custom-control-label">する</label>
          </div><!-- /.custom-control custom-radio -->
        </div><!-- /.form-group -->
        <!--/* フッタ利用ここまで */-->

        <!--/* マスク利用ここから */-->
        <div class="form-group">
          <label class="control-label" for="maskUse" th:text="#{maskUse}"></label><span class="badge badge-danger">必須</span>
          <div class="custom-control custom-radio">
            <input type="radio" class="validate[required] custom-control-input" th:field="*{maskFlag}" id="maskFlagFalse" value="0" checked />
            <label for="maskFlagFalse" class="custom-control-label">しない</label>
          </div><!-- /.custom-control custom-radio -->
          <div class="custom-control custom-radio">
            <input type="radio" class="validate[required] custom-control-input" th:field="*{maskFlag}" id="maskFlagTrue" value="1" />
            <label for="maskFlagTrue" class="custom-control-label">する</label>
         </div><!-- /.custom-control custom-radio -->
        </div><!-- /.form-group -->
        <!--/* マスク利用ここまで */-->

        <!--/* 囲み文字ここから */-->
        <div class="form-group">
          <label class="control-label" for="enclosureCharUse" th:text="#{enclosureCharUse}"></label><span class="badge badge-danger">必須</span>
          <div class="custom-control custom-radio">
            <input type="radio" class="validate[required] custom-control-input" th:field="*{enclosureCharFlag}" id="enclosureCharFlagFalse" value="0" checked />
            <label for="enclosureCharFlagFalse" class="custom-control-label">しない</label>
         </div><!-- /.custom-control custom-radio -->
          <div class="custom-control custom-radio">
            <input type="radio" class="validate[required] custom-control-input" th:field="*{enclosureCharFlag}" id="enclosureCharFlagTrue" value="1" />
            <label for="enclosureCharFlagTrue" class="custom-control-label">する</label>
         </div><!-- /.custom-control custom-radio -->
        </div><!-- /.form-group -->
        <!--/* 囲み文字ここまで */-->

        <!--/* 備考ここから */-->
        <div class="form-group">
          <label for="remarks" th:text="#{remarks}"></label>
          <textarea class="form-control" rows="10" cols="30" th:field="*{remarks}" placeholder="備 考"></textarea>
        </div><!-- /.form-group -->
        <!--/* 備考ここまで */-->

        <!--/* ボタン部ここから */-->
        <input type="submit" class="btn btn-success w-25" value="確 認" />
        <input type="reset" class="btn btn-secondary w-25" value="リセット" />
        <!--/* ボタン部ここまで */-->
        <br><br>
      </form><!-- /#accountSettingForm -->
    </div><!-- /.container border col-10 -->
  </div>

  <script th:src="@{/resources/js/common/password.min.js}"></script>
  <script th:src="@{/resources/js/lib/mailcheck.min.js}"></script>
  <script>
    $(function() {

      jQuery("#accountSettingForm").validationEngine({
        promptPosition : "topLeft:0"
      });

      $("#passwordExpire").datepicker({
        firstDay: 0,
        showButtonPanel: true,
        changeYear: true,
        changeMonth: true
      });

      const domains = [
        "gmail.com",
        "yahoo.co.jp",
        "ezweb.ne.jp",
        "au.com",
        "docomo.ne.jp",
        "i.softbank.jp",
        "softbank.ne.jp",
        "outlook.com",
        "outlook.jp"
      ];

      $("#mailAddress").on("blur", function() {
        $(this).mailcheck({
          domains: domains,
          suggested: function(element, suggestion) {
            $("#suggest").text(suggestion.full);
            $("#suggest").on("click", function() {
              $("#mailAddress").val(suggestion.full);
              $(this).hide();
            });
          }
        });
      });

    });
  </script>
</body>
</html>