<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>健康アプリ_アカウント設定入力画面</title>
<link rel="icon" type="image/png" href="../resources/image/favicon.png" th:href="@{/resources/image/favicon.png}">
<link rel="stylesheet" type="text/css" href="../resources/css/layout.css" th:href="@{/resources/css/layout.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/input.css" th:href="@{/resources/css/input.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/navigation.css" th:href="@{/resources/css/navigation.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/menuicon.css" th:href="@{/resources/css/menuicon.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/common/headericon.css" th:href="@{/resources/css/common/headericon.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/lib/validationEngine.jquery.css" th:href="@{/resources/css/lib/validationEngine.jquery.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/lib/jquery-ui.css" th:href="@{/resources/css/lib/jquery-ui.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/lib/sal.min.css" th:href="@{/resources/css/lib/sal.min.css}">
</head>
<body>

  <div th:replace="layout/layout :: header"></div>

  <div th:replace="./common/navigation.html"></div>

  <!--/* contentLayout部ここから */-->
  <div align="center" class="contentLayout">
    <h2 class="menuTitle">アカウント設定入力画面</h2>

    <!--/* 入力画面 */-->
    <form action="./confirm" id="accountSettingForm" th:action="@{./confirm}" method="post" th:object="${accountSettingForm}">

      <div class="errorMessage" th:if="${#fields.hasErrors('deleteFlag')}" th:errors="*{deleteFlag}"></div>
      <div class="errorMessage" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></div>
      <div class="errorMessage" th:if="${#fields.hasErrors('apiKey')}" th:errors="*{apiKey}"></div>
      <div class="errorMessage" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
      <div class="errorMessage" th:if="${#fields.hasErrors('passwordExpire')}" th:errors="*{passwordExpire}"></div>
      <div class="errorMessage" th:if="${#fields.hasErrors('mailAddress')}" th:errors="*{mailAddress}"></div>
      <div class="errorMessage" th:if="${#fields.hasErrors('mailPassword')}" th:errors="*{mailPassword}"></div>
      <div class="errorMessage" th:if="${#fields.hasErrors('remarks')}" th:errors="*{remarks}"></div>
      <table>
        <tr>
          <th>
            <label>削除</label>
          </th>
          <td>
            <div class="radio">
              <input type="radio" th:field="*{deleteFlag}" id="deleteFlagFalse" value="0" checked="checked">
              <label for="deleteFlagFalse" class="switch-off">しない</label>
              <input type="radio" th:field="*{deleteFlag}" id="deleteFlagTrue" value="1">
              <label for="deleteFlagTrue">する</label>
            </div>
          </td>
        </tr>
        <tr>
          <th>
            <label>ユーザID</label>
          </th>
          <td>
            <p th:text="*{userId}"></p>
            <input type="hidden" th:field="*{userId}" th:value="${userId}" />
          </td>
        </tr>
        <tr>
          <th>
            <label>パスワード</label>
          </th>
          <td>
            <input type="text" class="validate[required]" th:field="*{password}" th:value="${password}" required placeholder="パスワード" />
          </td>
        </tr>
        <tr>
          <th>
            <label>パスワード有効期限</label>
          </th>
          <td>
            <input type="text" class="validate[required]" th:field="*{passwordExpire}" th:value="${passwordExpire}" required placeholder="パスワード有効期限日" />
          </td>
        </tr>
        <tr>
          <th>
            <label>APIキー</label>
          </th>
          <td>
            <p th:text="*{apiKey}"></p>
            <input type="hidden" th:field="*{apiKey}" th:value="${apiKey}" />
          </td>
        </tr>
        <tr>
          <th>
            <label>メールアドレス</label>
          </th>
          <td>
            <input type="email" class="validate[required,custom[email]]" th:field="*{mailAddress}" th:value="${mailAddress}" required placeholder="メールアドレス" />
            <div id="suggest"></div>
          </td>
        </tr>
        <tr>
          <th>
            <label>メールパスワード</label>
          </th>
          <td>
            <input type="text" class="validate[required]" th:field="*{mailPassword}" th:value="${mailPassword}" required placeholder="メールパスワード" />
          </td>
        </tr>
        <tr>
          <th>
            <label>備 考</label>
          </th>
          <td>
            <textarea rows="10" cols="100" th:field="*{remarks}" placeholder="備 考">${account.remarks}</textarea>
          </td>
        </tr>
      </table>
      <br><br>
      <table>
        <tr>
          <td>
            <input type="submit" value="確 認" />
          </td>
          <td>&ensp;&ensp;</td>
          <td>
            <input type="reset" value="リセット" />
          </td>
        </tr>
      </table>
    </form>
  </div>
  <!--/* contentLayout部ここまで */-->

  <div th:replace="layout/layout :: footer"></div>

  <script type="text/javascript" src="../resources/js/lib/jquery.min.js" th:src="@{/resources/js/lib/jquery.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/jquery.validationEngine-ja.min.js" th:src="@{/resources/js/lib/jquery.validationEngine-ja.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/jquery.validationEngine.min.js" th:src="@{/resources/js/lib/jquery.validationEngine.min.js}"></script>
  <script type="text/javascript" src="../resources/js/common/common.min.js" th:src="@{/resources/js/common/common.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/jquery-ui.min.js" th:src="@{/resources/js/lib/jquery-ui.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/datepicker-ja.min.js" th:src="@{/resources/js/lib/datepicker-ja.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/sal.min.js" th:src="@{/resources/js/lib/sal.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/mailcheck.min.js" th:src="@{/resources/js/lib/mailcheck.min.js}"></script>
  <script type="text/javascript">
    $(function() {

      sal({
        threshold : 1,
        once : false
      });

      jQuery("#accountSettingForm").validationEngine({
        promptPosition : "bottomRight:80"
      });

      $("#passwordExpire").datepicker({
        firstDay : 0,
        showButtonPanel : true,
        changeYear : true,
        changeMonth : true
      });

      var domains = [
        "gmail.com",
        "yahoo.co.jp",
        "ezweb.ne.jp",
        "au.com",
        "docomo.ne.jp",
        "i.softbank.jp",
        "softbank.ne.jp",
        "outlook.com",
        "outlook.jp"
      ];

      $("#mailAddress").on("blur", function() {
        $(this).mailcheck({
          domains : domains,
          suggested : function(element, suggestion) {
            $("#suggest").text(suggestion.full);
            $("#suggest").on("click", function() {
              $("#mailAddress").val(suggestion.full);
              $(this).hide();
            });
          }
        });
      });
    });
  </script>

</body>
</html>