<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>健康アプリ_健康情報入力画面</title>
<link rel="icon" type="image/png" href="../resources/image/people.png">
<link rel="stylesheet" type="text/css" href="../resources/css/layout.css">
<link rel="stylesheet" type="text/css" href="../resources/css/common/baseLayout.css">
<link rel="stylesheet" type="text/css" href="../resources/css/common/headericon.css">
<link rel="stylesheet" type="text/css" href="../resources/css/common/fort.css">
<link rel="stylesheet" type="text/css" href="../resources/css/menuicon.css">
<link rel="stylesheet" type="text/css" href="../resources/css/navigation.css">
<link rel="stylesheet" type="text/css" href="../resources/css/healthInfo.css">
<link rel="stylesheet" type="text/css" href="../resources/css/input.css">
<link rel="stylesheet" type="text/css" href="../resources/css/table.css">
</head>

<body class="main">

	<h1>
		<img class="headericon" alt="入力" src="../resources/image/icon_input.jpg">
		健康情報入力画面
	</h1>

	<hr>
	<div th:include="./common/navigation.html"></div>
	<br><br>
	<div th:if="${errorMessage} != null">
		<br><br>
		<div class="errorMessage">
			<p th:text="${errorMessage}"></p>
		</div>
	</div>

	<div align="center">
		<div>
			<progress id="bar" max="2" value="0"></progress>
		</div>
	</div>

	<!--/* 入力画面 */-->
	<div align="center">
	<br><br><br>
	<form action="./confirm.html" th:action="@{./confirm.html}" method="post" th:object="${healthInfoForm}">
		<div class="errorMessage" th:if="${#fields.hasErrors('height')}" th:errors="*{height}"></div>
		<div class="errorMessage" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></div>
		<input type="text" size="6" th:field="*{height}" required placeholder="身長" oninput="changeValue()" />　cm
		<p class="attention">※半角数字で入力してください</p>
		<br><br>
		<input type="text" size="6" th:field="*{weight}" required placeholder="体重" oninput="changeValue()" />　kg
		<p class="attention">※半角数字で入力してください</p>
		<br>
		<br>
		<table>
			<tr>
				<td>
					<input type="submit" value="確認" />
				</td>
				<td>
					<p>　　</p>
				</td>
				<td>
					<input type="reset" value="リセット" onclick="resetBar()" />
				</td>
			</tr>
		</table>
	</form>
	</div>
	<br><br>

	<hr>
	<div th:include="./common/footer.html"></div>

	<script type="text/javascript" src="../resources/js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="../resources/js/lib/jquery.validate.min.js"></script>
	<script type="text/javascript" src="../resources/js/common/fort.js"></script>
	<script type="text/javascript" src="../resources/js/common/common.js"></script>
	<script type="text/javascript" src="../resources/js/healthInfo.js"></script>

</body>
</html>
