<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>健康アプリ_健康情報入力画面</title>
<link rel="icon" type="image/png" href="../resources/image/people.png" th:href="@{/resources/image/people.png}">
<link rel="stylesheet" type="text/css" href="../resources/css/layout.css" th:href="@{/resources/css/layout.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/common/headericon.css" th:href="@{/resources/css/common/headericon.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/menuicon.css" th:href="@{/resources/css/menuicon.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/navigation.css" th:href="@{/resources/css/navigation.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/healthInfo.css" th:href="@{/resources/css/healthInfo.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/input.css" th:href="@{/resources/css/input.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/lib/validationEngine.jquery.css" th:href="@{/resources/css/lib/validationEngine.jquery.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/lib/mprogress.min.css" th:href="@{/resources/css/lib/mprogress.min.css}">
</head>
<body>

  <div th:replace="layout/layout :: header"></div>

  <div th:replace="./common/navigation.html"></div>

  <div th:if="${errorMessage} != null">
    <br><br>
    <div class="errorMessage">
      <p th:text="${errorMessage}"></p>
    </div>
  </div>

  <!--/* 入力画面 */-->
  <div align="center" class="contentLayout">
    <h2 class="menuTitle">
      <img class="headericon" alt="入力" src="../resources/image/icon_input.jpg" th:href="@{/resources/image/icon_input.jpg}">健康情報入力画面
    </h2>
    <form action="./confirm.html" id="healthInfoForm" th:action="@{./confirm.html}" method="post" th:object="${healthInfoForm}">
      <div class="errorMessage" th:if="${#fields.hasErrors('height')}" th:errors="*{height}"></div>
      <div class="errorMessage" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></div>
      <input type="text" class="validate[required]" size="6" th:field="*{height}" required placeholder="身長" />　cm
      <p class="attention">※半角数字で入力してください</p>
      <br><br>
      <input type="text" class="validate[required]" size="6" th:field="*{weight}" required placeholder="体重" />　kg
      <p class="attention">※半角数字で入力してください</p>
      <br>
      <br>
      <table>
        <tr>
          <td>
            <input type="submit" value="確 認" />
          </td>
          <td>
            <p>　　</p>
          </td>
          <td>
            <input type="reset" value="リセット" />
          </td>
        </tr>
      </table>
    </form>
  </div>

  <div th:replace="layout/layout :: footer"></div>

  <script type="text/javascript" src="../resources/js/lib/jquery.min.js" th:src="@{/resources/js/lib/jquery.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/jquery.validationEngine-ja.min.js" th:src="@{/resources/js/lib/jquery.validationEngine-ja.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/jquery.validationEngine.min.js" th:src="@{/resources/js/lib/jquery.validationEngine.min.js}"></script>
  <script type="text/javascript" src="../resources/js/common/common.js" th:src="@{/resources/js/common/common.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/mprogress.min.js" th:src="@{/resources/js/lib/mprogress.min.js}"></script>
  <script type="text/javascript">
    $(function() {
      jQuery("#healthInfoForm").validationEngine({
        promptPosition: "topLeft:80"
      });
    });
    var mprogress = new Mprogress();
    $("#height").change(function() {
      var value = 0;
      if ($('#height').val() !== '') {
        value += 1;
      }
      if ($('#weight').val() !== '') {
        value += 1;
      }
      var progressValue = value / 2;
      mprogress.set(progressValue);
    });
    $("#weight").change(function() {
      var value = 0;
      if ($('#height').val() !== '') {
        value += 1;
      }
      if ($('#weight').val() !== '') {
        value += 1;
      }
      var progressValue = value / 2;
      mprogress.set(progressValue);
    });
  </script>

</body>
</html>
