/*************/
/* input.css */
/*************/
@charset "UTF-8";

/* ボタンの設定 */
input[type="submit"], input[type="reset"], input[type="button"] {
  cursor: pointer;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #FFFFFF;
  background: #71f145;
  border: solid 5px #71f145;
  border-radius: 3px;
  transition: .6s;
}

/* ボタンをマウスオーバーしたとき */
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  background: #FFFFFF;
  color: #32cd32;
  transform: translateY(2px);
}

/* 入力タグの設定 */
input[type="text"], input[type="email"], textarea {
  padding: 0.8em;
  outline: none;
  border: 1px solid #DDD;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 16px;
  -webkit-transition: all 1.0s;
  -moz-transition: all 1.0s;
  transition: all 1.0s;
  width: 180px;
}

/* 入力タグをクリックしたとき */
input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  background: #ffffca;
  box-shadow: 0 0 7px #80ff00;
  border: 1px solid #80ff00;
/*   width: 350px; */
}

.radio {
  margin-bottom: 25px;
  clear: both;
}

.radio input {
  display: none;
}

.radio label {
  display: block;
  float: left;
  cursor: pointer;
  margin: 0;
  padding: 8px 16px;
  background-color: #32cd32;
  color: #FFF;
  text-align: center;
  transition: 0.2s;
  width: 93px;
}

.radio label:first-of-type {
  border-radius: 3px 0 0 3px;
}

.radio label:last-of-type {
  border-radius: 0 3px 3px 0;
}

.radio input[type="radio"]:checked+label {
  background-color: #80ff80;
}

