/**************/
/* layout.css */
/**************/
@charset "UTF-8";

.menuTitle {
  margin: 5px;
  padding: 5px;
}

/* 注意文言の設定 */
.attention {
  color: #ff8080;
  font-size: 60%;
}

.appTitle {
  border-bottom: 2px solid #32cd32;
  border-left: 10px solid #32cd32;
  padding: 7px;
}

.appTitle:hover {
  cursor: pointer;
}

/* 戻るボタン */
.browseBack {
  width: 20px;
  height: 20px;
}

.errorMessage {
  background: #96ef10;
  color: #000000;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
  margin: 10px 200px;
  text-align: center;
  font-weight: bold;
  border: 2px #FF0000 dashed;
}

.contentLayout {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 96%;
  padding: 5px;
  background: #d2e8d561;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

.header {
  margin: 10px;
  padding: 10px;
}

.footer {
  margin: 10px;
  padding: 10px;
}

/* ▼テーブルの行の背景を変更▼ */
table.data {
  /* セルの線を重ねる */
  border-collapse: collapse;
}

tr.data:nth-child(odd) {
  /* 背景色指定 */
  background-color: #ddd;
}

th.data, td.data {
  /* 余白指定 */
  padding: 5px 10px;
}
/* ▲テーブルの行の背景を変更▲ */

/* ▼divをテーブル構成にする▼ */
.table {
  /* <table>の代わり */
  display : table;
}

.table-row {
  /* <tr>の代わり */
  margin : 5px 5px 5px 5px;
  padding : 5px 5px 5px 5px;
  display : table-row;
}

.table-header {
  /* <th>の代わり */
  margin : 5px 5px 5px 5px;
  padding : 5px 5px 5px 5px;
  display: table-cell;
}

.table-data {
  /* <td>の代わり */
  margin : 5px 5px 5px 5px;
  padding : 5px 5px 5px 5px;
  margin-right: auto;
  text-align: left;
  display: table-cell;
}
/* ▲divをテーブル構成にする▲ */
