/*******************/
/* loginLayout.css */
/*******************/
@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

@import url(https://fonts.googleapis.com/css?family=Raleway:700);

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

fieldset {
  width: 400px;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 2%;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

h1 {
  background: #71f145;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
}

form {
  background: #f0f0f0;
  padding: 6% 4%;
}

input[type="password"], input[type="text"] {
  width: 76%;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 4% 4% 4% 4%;
  font-family: 'Open Sans', sans-serif;
  font-size: 95%;
  color: #555;
}

input[type="password"]:focus, input[type="text"]:focus {
  background: #ffffca;
  box-shadow: 0 0 7px #80ff00;
  border: solid 2px #71f145;
}

.icon {
  width: 20px;
  height: 20px;
  background-color: #71f145;
  float: left;
  padding: 4% 4% 4% 4%;
  margin-bottom: 4%;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ccc;
}

.iconPassword {
  background-image: url(https://cdn4.iconfinder.com/data/icons/font-awesome-2/2048/f09c-32.png);
}

.iconUser {
  background-image: url(https://cdn4.iconfinder.com/data/icons/font-awesome-2/2048/f007-32.png);
}

input[type="submit"], input[type="button"] {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  padding: 2%;
  margin-top: 4%;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #FFFFFF;
  background: #71f145;
  border: solid 5px #71f145;
  border-radius: 3px;
  transition: .6s;
}

input[type="submit"]:hover, input[type="button"]:hover {
  background: #FFFFFF;
  color: #32cd32;
}