<!-- 生活活動代謝モーダルの設定 -->
<div class="modal fade" id="lifeWorkMetabolismModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">生活活動代謝について</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button><!-- /.close -->
      </div><!-- /.modal-header -->
      <div class="modal-body">
        <p>日常の生活活動や運動で消費するエネルギー。</p>
      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog modal-dialog-centered modal-dialog-scrollable -->
</div><!-- /.modal fade -->