<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout (title,body)">
<head>

<link rel="icon" type="image/png" href="../resources/image/people.png" th:href="@{/resources/image/people.png}">
<link rel="stylesheet" type="text/css" href="../resources/css/layout.css" th:href="@{/resources/css/layout.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/common/headericon.css" th:href="@{/resources/css/common/headericon.css}">

<link rel="stylesheet" type="text/css" href="../resources/css/navigation.css" th:href="@{/resources/css/navigation.css}">

<link rel="stylesheet" type="text/css" href="../resources/css/input.css" th:href="@{/resources/css/input.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/common/standardWeightModal.css" th:href="@{/resources/css/common/standardWeightModal.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/common/bmiModal.css" th:href="@{/resources/css/common/bmiModal.css}">


<link rel="stylesheet" type="text/css" href="../resources/css/menuicon.css" th:href="@{/resources/css/menuicon.css}">

<link rel="stylesheet" type="text/css" href="../resources/css/healthInfo.css" th:href="@{/resources/css/healthInfo.css}">

<link rel="stylesheet" type="text/css" href="../resources/css/lib/validationEngine.jquery.css" th:href="@{/resources/css/lib/validationEngine.jquery.css}">

<title th:replace="${title}">健康アプリ</title>
</head>
<body>

<header th:fragment="~{layout/header :: header}">
  <div th:replace="layout/header.html"></div>
</header>

<div id="body" th:replace="${body}"></div>

<footer th:fragment="~{layout/footer :: footer">
  <div th:replace="layout/footer.html"></div>
</footer>


<script type="text/javascript" src="../resources/js/lib/jquery.min.js" th:src="@{/resources/js/lib/jquery.min.js}"></script>
<script type="text/javascript" src="../resources/js/common/bmiModal.min.js" th:src="@{/resources/js/common/bmiModal.min.js}"></script>
<script type="text/javascript" src="../resources/js/common/standardWeightModal.min.js" th:src="@{/resources/js/common/standardWeightModal.min.js}"></script>

<script type="text/javascript" src="../resources/js/common/apiRegistGeneralModal.min.js" th:src="@{/resources/js/common/apiRegistGeneralModal.min.js}"></script>
<script type="text/javascript" src="../resources/js/common/apiRegistRequestModal.min.js" th:src="@{/resources/js/common/apiRegistRequestModal.min.js}"></script>
<script type="text/javascript" src="../resources/js/common/apiRegistResponseModal.js" th:src="@{/resources/js/common/apiRegistResponseModal.min.js}"></script>

<script type="text/javascript" src="../resources/js/common/apiReferenceGeneralModal.min.js" th:src="@{/resources/js/common/apiReferenceGeneralModal.min.js}"></script>
<script type="text/javascript" src="../resources/js/common/apiReferenceRequesetModal.min.js" th:src="@{/resources/js/common/apiReferenceRequestModal.min.js}"></script>
<script type="text/javascript" src="../resources/js/common/apiReferenceResponseModal.min.js" th:src="@{/resources/js/common/apiReferenceResponseModal.min.js}"></script>

<script type="text/javascript" src="../resources/js/common/serviceModal.min.js" th:src="@{/resources/js/common/serviceModal.min.js}"></script>

<script type="text/javascript" src="../resources/js/common/common.js" th:src="@{/resources/js/common/common.js}"></script>

</body>
</html>