<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  th:replace="~{layout/template :: layout(~{::title},~{::body/content()},~{::link})}">
<head>
<title>ユーザ設定変更確認</title>
<link>
</head>
<body>

  <div class="px-4">
    <div class="container border col-8 shadow">
      <h2 class="menuTitle">ユーザ設定変更確認</h2>
      <form th:action="@{/accountsetting/complete}" method="post" th:object="${userSettingForm}">
        <table class="table table-hover table-striped">
          <tr>
            <th th:text="#{delete}"></th>
            <td>
              <div th:if="*{deleteFlag} == 1">する</div>
              <div th:if="*{deleteFlag} == 0">しない</div>
            </td>
          </tr>
          <tr>
            <th th:text="#{seqUserId}"></th>
            <td th:text="*{seqUserId}"></td>
          </tr>
          <tr>
            <th th:text="#{password}"></th>
            <td>****</td>
          </tr>
          <tr>
            <th th:text="#{passwordExpire}"></th>
            <td th:text="*{passwordExpire}"></td>
          </tr>
          <tr>
            <th th:text="#{genderType}"></th>
            <td>
              <div th:if="*{genderType} == 0">男性</div>
              <div th:if="*{genderType} == 1">女性</div>
            </td>
          </tr>
          <tr>
            <th th:text="#{birthDate}"></th>
            <td th:text="*{birthDate}"></td>
          </tr>
          <tr>
            <th th:text="#{headerUse}"></th>
            <td>
              <div th:if="*{headerFlag} == 1">する</div>
              <div th:if="*{headerFlag} == 0">しない</div>
            </td>
          </tr>
          <tr>
            <th th:text="#{footerUse}"></th>
            <td>
              <div th:if="*{footerFlag} == 1">する</div>
              <div th:if="*{footerFlag} == 0">しない</div>
            </td>
          </tr>
          <tr>
            <th th:text="#{maskUse}"></th>
            <td>
              <div th:if="*{maskFlag} == 1">する</div>
              <div th:if="*{maskFlag} == 0">しない</div>
            </td>
          </tr>
          <tr>
            <th th:text="#{enclosureCharUse}"></th>
            <td>
              <div th:if="*{enclosureCharFlag} == 1">する</div>
              <div th:if="*{enclosureCharFlag} == 0">しない</div>
            </td>
          </tr>
          <tr>
            <th th:text="#{remarks}"></th>
            <td th:text="*{remarks}"></td>
          </tr>
        </table><!-- /.table table-hover table-striped -->

        <br><br>

        <!--/* ボタン部ここから */-->
        <input type="submit" class="btn btn-success w-25" value="確 定" />
        <input type="button" class="btn btn-secondary w-25" value="戻 る" onclick="history.back()" />
        <!--/* ボタン部ここまで */-->
        <br><br>
      </form>
    </div><!-- /.container border col-8 -->
  </div>

</body>
</html>