<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  th:replace="~{layout/template :: layout(~{::title},~{::body/content()},~{::link})}">
<head>
<title>ユーザ設定変更</title>
<link>
</head>
<body>

  <div class="container my-4">
    <div class="card shadow">

      <div class="card-header bg-primary text-white">
        <h4 class="mb-0">📝 ユーザ設定変更</h4>
      </div>

      <div class="card-body">
        <form th:action="@{/accountsetting/confirm}" method="post" th:object="${userSettingForm}" id="userSettingForm">
          <!-- 全体エラー表示 -->
          <div th:if="${#fields.hasErrors()}" class="alert alert-danger">
            入力に誤りがあります。各項目を確認してください。
          </div>

          <!-- 削除フラグ -->
          <div class="form-group">
            <label class="font-weight-bold">削除
              <span class="badge badge-danger">必須</span>
            </label>
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" th:field="*{deleteFlag}" id="deleteFlagFalse" value="0" checked />
              <label class="form-check-label" for="deleteFlagFalse">しない</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" th:field="*{deleteFlag}" id="deleteFlagTrue" value="1" />
              <label class="form-check-label" for="deleteFlagTrue">する</label>
            </div>
            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('deleteFlag')}" th:errors="*{deleteFlag}"></div>
          </div>

          <!-- ユーザID（非表示） -->
          <div class="form-group">
            <label class="font-weight-bold" th:text="#{seqUserId}"></label>
            <p class="form-control-plaintext" th:text="*{seqUserId}"></p>
            <input type="hidden" th:field="*{seqUserId}" />
          </div>

          <!-- パスワード -->
          <div class="form-group">
            <label for="password" class="font-weight-bold" th:text="#{password}"></label> <span class="badge badge-danger">必須</span>
            <input type="password" class="form-control" th:field="*{password}" maxlength="16" required placeholder="adminpass" />
            <div class="form-check mt-2">
              <input type="checkbox" class="form-check-input" id="password-check" onclick="togglePassword('password')" />
              <label class="form-check-label" for="password-check">パスワードを表示</label>
            </div>
            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
          </div>

          <!-- メールアドレス -->
          <div class="form-group">
            <label for="mailAddress" class="font-weight-bold" th:text="#{mailAddress}"></label> <span class="badge badge-danger">必須</span>
            <input type="email" class="form-control" th:field="*{mailAddress}" maxlength="64" required placeholder="test@gmail.com" />
            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('mailAddress')}" th:errors="*{mailAddress}"></div>
          </div>

         <!-- 性別 -->
         <div class="form-group">
           <label class="font-weight-bold" for="genderType" th:text="#{genderType}"></label>
           <span class="badge badge-danger">必須</span>
           <div class="form-check form-check-inline">
           <input type="radio" class="form-check-input" th:field="*{genderType}" id="male" value="0" checked>
           <label for="male" class="form-check-label" th:text="#{male}"></label>
           </div>
            <div class="form-check form-check-inline">
             <input type="radio" class="form-check-input" th:field="*{genderType}" id="female" value="1">
             <label for="female" class="form-check-label" th:text="#{female}"></label>
           </div>
           <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('genderType')}" th:errors="*{genderType}"></div>
         </div>

         <!-- 誕生日 -->
         <div class="form-group">
           <label class="control-label" for="birthDate" th:text="#{birthDate}"></label><span class="badge badge-danger">必須</span>
           <input type="date" class="form-control rounded shadow-sm" th:field="*{birthDate}" th:value="${birthDate}" required />
         </div>

         <!-- ヘッダ利用 -->
         <div class="form-group">
           <label class="font-weight-bold" th:text="#{headerUse}"></label>
           <span class="badge badge-danger">必須</span>
           <div class="form-check form-check-inline">
             <input type="radio" class="form-check-input" th:field="*{headerFlag}" id="headerFlagFalse" value="0" checked />
             <label class="form-check-label"for="headerFlagFalse">しない</label>
           </div>
            <div class="form-check form-check-inline">
             <input type="radio" class="form-check-input" th:field="*{headerFlag}" id="headerFlagTrue" value="1" />
             <label class="form-check-label" for="headerFlagTrue">する</label>
           </div>
           <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('headerFlag')}" th:errors="*{headerFlag}"></div>
         </div>

         <!-- フッタ利用 -->
         <div class="form-group">
           <label class="font-weight-bold" for="footerUse" th:text="#{footerUse}"></label>
           <span class="badge badge-danger">必須</span>
           <div class="form-check form-check-inline">
             <input type="radio" class="form-check-input" th:field="*{footerFlag}" id="footerFlagFalse" value="0" checked />
             <label class="form-check-label" for="footerFlagFalse">しない</label>
           </div>
           <div class="form-check form-check-inline">
             <input type="radio" class="form-check-input" th:field="*{footerFlag}" id="footerFlagTrue" value="1" />
             <label class="form-check-label" for="footerFlagTrue">する</label>
           </div>
            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('footerFlag')}" th:errors="*{footerFlag}"></div>
         </div>

         <!-- マスク利用 -->
         <div class="form-group">
           <label class="font-weight-bold" for="maskUse" th:text="#{maskUse}"></label>
           <span class="badge badge-danger">必須</span>
            <div class="form-check form-check-inline">
             <input type="radio" class="form-check-input" th:field="*{maskFlag}" id="maskFlagFalse" value="0" checked />
             <label for="maskFlagFalse" class="form-check-label">しない</label>
           </div>
            <div class="form-check form-check-inline">
             <input type="radio" class="form-check-input" th:field="*{maskFlag}" id="maskFlagTrue" value="1" />
             <label for="maskFlagTrue" class="form-check-label">する</label>
          </div>
            <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('maskFlag')}" th:errors="*{maskFlag}"></div>
         </div>

         <!-- 囲み文字 -->
         <div class="form-group">
           <label class="font-weight-bold" for="enclosureCharUse" th:text="#{enclosureCharUse}"></label>
           <span class="badge badge-danger">必須</span>
           <div class="form-check form-check-inline">
             <input type="radio" class="form-check-input" th:field="*{enclosureCharFlag}" id="enclosureCharFlagFalse" value="0" checked />
             <label for="enclosureCharFlagFalse" class="form-check-label">しない</label>
          </div>
           <div class="form-check form-check-inline">
             <input type="radio" class="form-check-input" th:field="*{enclosureCharFlag}" id="enclosureCharFlagTrue" value="1" />
             <label for="enclosureCharFlagTrue" class="form-check-label">する</label>
          </div>
         </div>

         <!-- 備考 -->
         <div class="form-group">
           <label for="remarks" th:text="#{remarks}"></label>
           <textarea class="form-control" rows="10" cols="30" th:field="*{remarks}" placeholder="備 考"></textarea>
         </div>

          <!-- ボタン -->
          <div class="form-group mt-4">
            <button type="submit" class="btn btn-success mr-2 w-25">確 認</button>
            <button type="reset" class="btn btn-secondary w-25">リセット</button>
          </div>

        </form>
      </div><!-- /.card-body -->
    </div><!-- /.card -->
  </div><!-- /.container -->

  <script th:src="@{/static/js/common/password.min.js}"></script>
  <script th:src="@{/static/js/lib/mailcheck.min.js}"></script>
  <script>
    $(function() {

      jQuery("#userSettingForm").validationEngine({
        promptPosition : "topLeft:0"
      });

<!--      $("#passwordExpire").datepicker({-->
<!--        firstDay: 0,-->
<!--        showButtonPanel: true,-->
<!--        changeYear: true,-->
<!--        changeMonth: true,-->
<!--        yearRange: "2025:2030"-->
<!--      });-->

<!--      $("#birthDate").datepicker({-->
<!--        firstDay: 0,-->
<!--        showButtonPanel: true,-->
<!--        changeYear: true,-->
<!--        changeMonth: true,-->
<!--        yearRange: "1900:2025"-->
<!--      });-->

      const domains = [
        "gmail.com",
        "yahoo.co.jp",
        "ezweb.ne.jp",
        "au.com",
        "docomo.ne.jp",
        "i.softbank.jp",
        "softbank.ne.jp",
        "outlook.com",
        "outlook.jp"
      ];

      $("#mailAddress").on("blur", function() {
        $(this).mailcheck({
          domains: domains,
          suggested: function(element, suggestion) {
            $("#suggest").text(suggestion.full);
            $("#suggest").on("click", function() {
              $("#mailAddress").val(suggestion.full);
              $(this).hide();
            });
          }
        });
      });

    });
  </script>
</body>
</html>