<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/layout :: head_fragment(title = '健康アプリ_健康情報入力確認画面', scripts = ~{::script}, links = ~{::link})">
<link>
</head>
<body>

  <!--/* ヘッダ部 */-->
  <div th:replace="layout/layout :: header"></div>
  <br><br><br><br><br><br><br>

  <!--/* contentLayout部ここから */-->
    <div class="container border col-8">
    <h2 class="menuTitle">健康情報入力確認</h2>
    <p>以下の情報で健康情報を登録します</p>
    <form action="./complete" th:action="@{./complete}" method="post" th:object="${healthInfoForm}">

      <!--/* table部ここから */-->
      <table class="table table-hover table-striped">
        <tr>
          <th colspan="2">
            <h3>健康情報</h3>
          </th>
        </tr>
        <tr>
          <th th:text="#{height}"></th>
          <td th:text="*{height} + '&ensp;cm'"></td>
        </tr>
        <tr>
          <th th:text="#{weight}"></th>
          <td th:text="*{weight} + '&ensp;kg'"></td>
        </tr>
      </table><!-- /.table table-hover table-striped -->
      <!--/* table部ここまで */-->

      <br><br>

      <!--/* ボタン部ここから */-->
      <input type="submit" class="btn btn-success" value="確 定" />
      <input type="button" class="btn btn-secondary" value="戻 る" onclick="history.back()" />
      <!--/* ボタン部ここまで */-->
      <br><br>

    </form>
  </div>
  <!--/* contentLayout部ここまで */-->

  <div th:replace="layout/layout :: footer"></div>

  <script>
    $(function() {
      let dispOffTime = 400;
      // 健康情報のトグルを設定
      $("#healthInfoToggle").css({
        "cursor": "pointer"
      });
      $("#healthInfoToggle").on("click", function() {
        $(".healthInfoToggle").toggle(dispOffTime);
      });
    });
  </script>
</body>
</html>
