<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/layout :: head_fragment(title = '健康アプリ_健康情報入力画面', scripts = ~{::script}, links = ~{::link})">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link>
</head>
<body>

  <!--/* ヘッダ部 */-->
  <div th:replace="layout/layout :: header"></div>
  <br><br><br><br><br><br><br>
  <main role="main" class="px-4">
    <div class="container border col-8">

      <div th:if="${errorMessage} != null">
        <br><br>
        <div class="alert alert-danger" role="alert" th:text="${errorMessage}"></div>
      </div>

        <h2 class="menuTitle">健康情報入力</h2>

        <form action="./confirm" id="healthInfoForm" th:action="@{./confirm}" method="post" th:object="${healthInfoForm}">

          <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('height')}" th:errors="*{height}"></div>
          <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></div>

          <!--/* table部ここから */-->
          <div class="table">
            <div class="form-group">
              <label class="control-label"  for="height" th:text="#{height}"></label><span class="badge badge-danger">必須</span>
              <div class="input-group">
                <input type="text" class="validate[required,custom[number]] form-control" size="12" th:field="*{height}" required placeholder="170.00" aria-describedby="basic-addon2"  />
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">cm</span>
                </div><!-- /.input-group-append -->
              </div><!-- /.input-group -->
            </div><!-- /.form-group -->

            <div class="form-group">
              <label class="control-label" for="weight" th:text="#{weight}"></label><span class="badge badge-danger">必須</span>
              <div class="input-group">
                <input type="text" class="validate[required,custom[number]] form-control" size="12" th:field="*{weight}" required placeholder="50.00" aria-describedby="basic-addon3" />
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon3">kg</span>
                </div><!-- /.input-group-append -->
              </div><!-- /.input-group -->
            </div><!-- /.form-group -->
          </div><!-- /.table -->
          <!--/* table部ここまで */-->

        <!--/* ボタン部ここから */-->
        <input type="submit" class="btn btn-success w-25" value="確 認" />
        <input type="reset" class="btn btn-secondary w-25" value="リセット" />
        <!--/* ボタン部ここまで */-->
        <br><br>
        </form>

    </div><!-- container border col-8 -->
  </main>
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
  <!--/* フッタ部 */-->
  <div th:replace="layout/layout :: footer"></div>

  <script src="../resources/js/lib/mprogress.js" th:src="@{/resources/js/lib/mprogress.min.js}"></script>
  <script>
    $(function() {

      jQuery("#healthInfoForm").validationEngine({
        promptPosition : "topLeft:0"
      });

      var mprogress = new Mprogress();
      $("#height").on("change", function() {
        var value = 0;
        if ($('#height').val() !== '') {
          value += 1;
        }
        if ($('#weight').val() !== '') {
          value += 1;
        }
        var progressValue = value / 2;
        mprogress.set(progressValue);
      });

      $("#weight").on("change", function() {
        var value = 0;
        if ($('#height').val() !== '') {
          value += 1;
        }
        if ($('#weight').val() !== '') {
          value += 1;
        }
        var progressValue = value / 2;
        mprogress.set(progressValue);
      });

    });

  </script>
</body>
</html>
