<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>健康管理アプリ_ログイン画面</title>
<link rel="icon" type="image/png" href="../resources/image/favicon.png" th:href="@{/resources/image/favicon.png}">
<link rel="stylesheet" type="text/css" href="../resources/css/loginLayout.css" th:href="@{/resources/css/loginLayout.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/common/headericon.css" th:href="@{/resources/css/common/headericon.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/lib/validationEngine.jquery.css" th:href="@{/resources/css/lib/validationEngine.jquery.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/lib/mprogress.min.css" th:href="@{/resources/css/lib/mprogress.min.css}">
</head>
<body>

  <div th:if="${errorMessage} != null">
    <div class="errorMessage">
      <p th:text="${errorMessage}"></p>
    </div>
  </div>

  <fieldset>
    <h1>健康管理アプリ</h1>
    <form id="loginForm" action="./top" th:action="@{./top}" method="post" th:object="${loginForm}">
      <div th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></div>
      <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
      <div class="iconUser icon"></div>
      <input type="text" class="validate[required]" th:field="*{userId}" maxlength="16" placeholder="ユーザID" required />
      <br><br>
      <div class="iconPassword icon"></div>
      <input type="password" class="validate[required]" th:field="*{password}" maxlength="16" placeholder="パスワード" required />
      <input type="submit" value="ログイン" />
      <input id="account-regist" type="button" value="アカウント作成" />
    </form>
  </fieldset>

  <br>

  <script type="text/javascript" src="../resources/js/lib/jquery.min.js" th:src="@{/resources/js/lib/jquery.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/jquery.validationEngine-ja.min.js" th:src="@{/resources/js/lib/jquery.validationEngine-ja.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/jquery.validationEngine.min.js" th:src="@{/resources/js/lib/jquery.validationEngine.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/mprogress.min.js" th:src="@{/resources/js/lib/mprogress.min.js}"></script>
  <script type="text/javascript" src="../resources/js/common/common.min.js" th:src="@{/resources/js/common/common.min.js}"></script>
  <script type="text/javascript">

    $(function() {
      // validate処理
      jQuery("#loginForm").validationEngine({
        promptPosition : "topLeft:0"
      });

      // 進捗バーの処理
      var mprogress = new Mprogress();
      $("#userId").change(function() {
        var value = 0;
        if ($("#userId").val() !== "") {
          value += 1;
        }
        if ($("#password").val() !== "") {
          value += 1;
        }
        var progressValue = value / 2;
        mprogress.set(progressValue);
      });
      $("#password").change(function() {
        var value = 0;
        if ($("#userId").val() !== "") {
          value += 1;
        }
        if ($("#password").val() !== "") {
          value += 1;
        }
        var progressValue = value / 2;
        mprogress.set(progressValue);
      });

      $("#account-regist").on("click", function() {
    	// アカウント登録処理
    	var form = document.createElement('form');
        form.action = '../accountRegist/input';
        form.method = 'get';
        document.body.appendChild(form);
        form.submit();
      });

    });

  </script>
</body>
</html>
