<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/layout :: head_fragment(title = '健康アプリ_ログイン画面', scripts = ~{::script}, links = ~{::link})">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../resources/css/loginLayout.css" th:href="@{/resources/css/loginLayout.min.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/lib/mprogress.css" th:href="@{/resources/css/lib/mprogress.min.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/lib/sal.css" th:href="@{/resources/css/lib/sal.min.css}">
</head>
<body>

  <div th:if="${errorMessage} != null" data-sal="slide-up">
    <div class="errorMessage">
      <p th:text="${errorMessage}"></p>
    </div>
  </div>

  <fieldset>
    <h1>健康管理アプリ</h1>
    <form id="loginForm" action="./top" th:action="@{./top}" method="post" th:object="${loginForm}">

      <div th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" data-sal="slide-up"></div>
      <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" data-sal="slide-up"></div>

      <div class="iconUser icon"></div>
      <input type="text" class="validate[required]" th:field="*{userId}" maxlength="16" placeholder="ユーザID" required />
      <br><br>
      <div class="iconPassword icon"></div>
      <input type="password" class="validate[required]" th:field="*{password}" maxlength="16" placeholder="パスワード" required />
      <input id="submit" type="submit" value="ログイン" />
      <input id="account-regist" type="button" value="アカウント作成" />
    </form>
  </fieldset>

  <br>

  <script type="text/javascript" src="../resources/js/lib/mprogress.js" th:src="@{/resources/js/lib/mprogress.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/sal.js" th:src="@{/resources/js/lib/sal.min.js}"></script>
  <script type="text/javascript">

    $(function() {

      sal({
        threshold: 1,
        once: false
      });

      // validate処理
      jQuery("#loginForm").validationEngine({
        promptPosition : "topLeft:0"
      });

      // 進捗バーの処理
      var mprogress = new Mprogress();
      $("#userId").on("change", function() {
        var value = 0;
        if ($("#userId").val() !== "") {
          value += 1;
        }
        if ($("#password").val() !== "") {
          value += 1;
        }
        var progressValue = value / 2;
        mprogress.set(progressValue);
      });
      $("#password").on("change", function() {
        var value = 0;
        if ($("#userId").val() !== "") {
          value += 1;
        }
        if ($("#password").val() !== "") {
          value += 1;
        }
        var progressValue = value / 2;
        mprogress.set(progressValue);
      });

      $("#account-regist").on("click", function() {
    	// アカウント登録処理
        var form = $("<form></form>", {
          method : "get",
          action : "../accountregist/input"
        });
        form.appendTo(document.body);
        form.submit();
      });

    });

  </script>
</body>
</html>
