<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/layout :: head_fragment(title = '健康アプリ_Top画面', scripts = ~{::script}, links = ~{::link})">
<link rel="stylesheet" href="../resources/css/lib/chart.css" th:href="@{/resources/css/lib/chart.min.css}">
</head>
<body>
  <div th:replace="layout/layout :: header"></div>
  <br><br><br><br><br><br>
  <label>最近登録した10件</label>
  <div class="container border col-10">
    <canvas id="chart" class="chart"></canvas>
   </div><!-- /.container border col-10 -->
  <br>
  <div th:replace="layout/layout :: footer"></div>
  <br><br><br><br><br><br><br><br><br><br><br><br>
  <script src="../resources/js/lib/chart.js" th:src="@{/resources/js/lib/chart.min.js}"></script>
  <script th:inline="javascript">
    $(function() {

      /*<![CDATA[*/
      var ctx = document.getElementById("chart").getContext('2d');
      var chart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: /*[[ ${label} ]]*/,
          datasets: [
            {
              label: "体重",
              borderColor: "rgb(142, 0, 204)",
              lineTension: 0,
              fill: false,
              pointHoverBackgroundColor: "rgb(255, 0, 0)",
              data: /*[[ ${weight} ]]*/,
            },
            {
              label: "BMI",
              borderColor: "rgb(239, 117, 188)",
              lineTension: 0,
              fill: false,
              pointHoverBackgroundColor: "rgb(255, 0, 0)",
              data: /*[[ ${bmi} ]]*/,
            },
            {
              label: "標準体重",
              borderColor: "rgb(255, 94, 25)",
              lineTension: 0,
              fill: false,
              pointHoverBackgroundColor: "rgb(255, 0, 0)",
              data: /*[[ ${standardWeight} ]]*/,
            }
          ]
        },
        option: {
          responsive: true,
        }
       });
       /*]]>*/
    });
  </script>
</body>
</html>