<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<head th:replace="layout/layout :: head_fragment(title = '健康管理アプリ_Top画面', scripts = ~{::script}, links = ~{::link})">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../resources/css/navigation.css" th:href="@{/resources/css/navigation.min.css}">
</head>
<body>
  <div th:replace="layout/layout :: header"></div>

  <div th:replace="./common/navigation.html"></div>

  <div layout:fragment="contents">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>

  <div th:replace="layout/layout :: footer"></div>

  <script type="text/javascript">
    $(function() {

    });
  </script>
</body>
</html>