<!-- 1日のカロリーの計算方法モーダルの設定 -->
<div class="modal fade" id="calorieCalcMethonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">1日のカロリーの計算方法</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button><!-- /.close -->
      </div><!-- /.modal-header -->
      <div class="modal-body">
        <label>以下の2種類値の合計が1日に消費するカロリーです</label>
        <br>
        <li>生活活動代謝(kcal)</li>
        <li>基礎代謝量(kcal)</li>
      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->