<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/layout :: head_fragment(title = '健康アプリ_カロリー計算画面', scripts = ~{::script}, links = ~{::link})">
<link rel="stylesheet" type="text/css" href="../resources/css/navigation.css" th:href="@{/resources/css/navigation.min.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/lib/mprogress.css" th:href="@{/resources/css/lib/mprogress.min.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/lib/sal.css" th:href="@{/resources/css/lib/sal.min.css}">
</head>
<body>

  <div th:replace="layout/layout :: header"></div>

  <div th:replace="./common/navigation.html"></div>

  <!--/* contentLayout部ここから */-->
  <div align="center" class="contentLayout">
    <h2 class="menuTitle">カロリー計算画面</h2>

    <form id="calorieCalcForm" action="./index" th:action="@{./index}" method="post" th:object="${calorieCalcForm}">

      <div class="errorMessage" th:if="${#fields.hasErrors('age')}" th:errors="*{age}" data-sal="slide-up"></div>
      <div class="errorMessage" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" data-sal="slide-up"></div>
      <div class="errorMessage" th:if="${#fields.hasErrors('height')}" th:errors="*{height}" data-sal="slide-up"></div>
      <div class="errorMessage" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}" data-sal="slide-up"></div>
      <div class="errorMessage" th:if="${#fields.hasErrors('lifeWorkMetabolism')}" th:errors="*{lifeWorkMetabolism}" data-sal="slide-up"></div>

      <!--/* table部ここから */-->
      <div class="table">

        <div class="table-row">
          <div class="table-header" th:text="#{age}"></div>
          <div class="table-data">
            <input type="text" class="validate[required,custom[number]]" size="12" th:field="*{age}" placeholder="20" />&ensp;歳
          </div>
        </div>

        <div class="table-row">&ensp;</div>

        <div class="table-row">
          <div class="table-header" th:text="#{gender}"></div>
          <div class="table-data">
            <div class="radio">
              <input type="radio" th:field="*{gender}" id="male" value="0" checked="checked">
              <label for="male" class="switch-off" th:text="#{male}"></label>
              <input type="radio" th:field="*{gender}" id="female" value="1">
              <label for="female" th:text="#{female}"></label>
            </div>
          </div>
        </div>

        <div class="table-row">&ensp;</div>

        <div class="table-row">
          <div class="table-header" th:text="#{height}"></div>
          <div class="table-data">
            <input type="text" class="validate[required,custom[number]]" size="12" th:field="*{height}" required placeholder="170.00" />&ensp;cm
          </div>
          <div class="table-data">
            <p class="attention">&ensp;&ensp;※半角数字とピリオドで入力してください</p>
          </div>
        </div>

        <div class="table-row">&ensp;</div>

        <div class="table-row">
          <div class="table-header" th:text="#{weight}"></div>
          <div class="table-data">
            <input type="text" class="validate[required,custom[number]]" size="12" th:field="*{weight}" required placeholder="50.00" />&ensp;kg
          </div>
          <div class="table-data">
            <p class="attention">&ensp;&ensp;※半角数字とピリオドで入力してください</p>
          </div>
        </div>

        <div class="table-row">&ensp;</div>

        <div class="table-row">
          <div class="table-header" th:text="#{lifeWorkMetabolism}" id="lifeWorkMetabolism-modal"></div>
          <div class="table-data">
            <input type="text" class="validate[required,custom[number]]" size="12" th:field="*{lifeWorkMetabolism}" placeholder="消費カロリー" />&ensp;kcal
          </div>
          <div class="table-data">
            <p class="attention">&ensp;&ensp;※半角数字とピリオドで入力してください</p>
          </div>
        </div>

      </div>
      <!--/* table部ここまで */-->

      <!--/* table部ここから */-->
      <div class="table">
        <div class="table-row">
          <div class="table-data">
            <input type="submit" value="計 算" />
          </div>
          <div class="table-data">&ensp;&ensp;</div>
          <div class="table-data">
            <input type="reset" value="リセット" />
          </div>
        </div>
      </div>
      <!--/* table部ここまで */-->
    </form>

    <br>

    <!--/* 結果部ここから */-->
    <div th:if="${calcResult} != null">
      <div th:replace="./caloriecalc/result.html"></div>
    </div>
    <!--/* 結果部ここまで */-->

  </div>
  <!--/* contentLayout部ここまで */-->

  <div th:replace="layout/layout :: footer"></div>

  <script type="text/javascript" src="../resources/js/lib/jquery.validationEngine-ja.js" th:src="@{/resources/js/lib/jquery.validationEngine-ja.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/jquery.validationEngine.js" th:src="@{/resources/js/lib/jquery.validationEngine.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/jquery-ui.js" th:src="@{/resources/js/lib/jquery-ui.min.js}"></script>
  <script type="text/javascript" src="../resources/js/common/lifeWorkMetabolism.js" th:src="@{/resources/js/common/lifeWorkMetabolism.min.js}"></script>
  <script type="text/javascript" src="../resources/js/common/calorieCalcMethod.js" th:src="@{/resources/js/common/calorieCalcMethod.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/sal.js" th:src="@{/resources/js/lib/sal.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/mprogress.js" th:src="@{/resources/js/lib/mprogress.min.js}"></script>
  <script type="text/javascript">
    $(function() {

      sal({
        threshold: 1,
        once: false
      });

      jQuery("#calorieCalcForm").validationEngine({
        promptPosition : "topLeft:0"
      });

      var mprogress = new Mprogress();
      $("#age").on("change", function() {
        var value = 0;
        if ($('#age').val() !== '') {
          value += 1;
        }
        if ($('#height').val() !== '') {
          value += 1;
        }
        if ($('#weight').val() !== '') {
          value += 1;
        }
        if ($('#lifeWorkMetabolism').val() !== '') {
          value += 1;
        }
        var progressValue = value / 4;
        mprogress.set(progressValue);
      });

      $("#height").on("change", function() {
        var value = 0;
        if ($('#age').val() !== '') {
          value += 1;
        }
        if ($('#height').val() !== '') {
          value += 1;
        }
        if ($('#weight').val() !== '') {
          value += 1;
        }
        if ($('#lifeWorkMetabolism').val() !== '') {
          value += 1;
        }
        var progressValue = value / 4;
        mprogress.set(progressValue);
      });

      $("#weight").on("change", function() {
        var value = 0;
        if ($('#age').val() !== '') {
          value += 1;
        }
        if ($('#height').val() !== '') {
          value += 1;
        }
        if ($('#weight').val() !== '') {
          value += 1;
        }
        if ($('#lifeWorkMetabolism').val() !== '') {
          value += 1;
        }
        var progressValue = value / 4;
        mprogress.set(progressValue);
      });

      $("#lifeWorkMetabolism").on("change", function() {
        var value = 0;
        if ($('#age').val() !== '') {
          value += 1;
        }
        if ($('#height').val() !== '') {
          value += 1;
        }
        if ($('#weight').val() !== '') {
          value += 1;
        }
        if ($('#lifeWorkMetabolism').val() !== '') {
          value += 1;
        }
        var progressValue = value / 4;
        mprogress.set(progressValue);
      });

    });

  </script>
</body>
</html>