<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/layout :: head_fragment(title = '健康アプリ_カロリー計算画面', scripts = ~{::script}, links = ~{::link})">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../resources/css/lib/mprogress.css" th:href="@{/resources/css/lib/mprogress.min.css}">
</head>
<body>

  <div th:replace="layout/layout :: header"></div>
  <br><br><br><br><br><br><br>
  <main role="main" class="px-4">
    <div class="container border col-8">
      <h2 class="menuTitle">カロリー計算</h2>

      <form id="calorieCalcForm" action="./index" th:action="@{./index}" method="post" th:object="${calorieCalcForm}">
        <br>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('height')}" th:errors="*{height}"></div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('lifeWorkMetabolism')}" th:errors="*{lifeWorkMetabolism}"></div>

        <div class="form-group">
          <label class="control-label" for="age" th:text="#{age}"></label><span class="badge badge-danger">必須</span>
          <div class="input-group">
            <input type="text" class="validate[required,custom[number]] form-control" size="3" th:field="*{age}" placeholder="20" aria-describedby="basic-addon1" />
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon1">歳</span>
            </div><!-- /.input-group-append -->
          </div><!-- /.input-group -->
        </div><!-- /.form-group -->

        <div class="form-group">
          <label class="control-label" for="gender" th:text="#{gender}"></label><span class="badge badge-danger">必須</span>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" th:field="*{gender}" id="male" value="0" checked="checked">
            <label for="male" class="custom-control-label" th:text="#{male}"></label>
          </div><!-- /.custom-control custom-radio -->
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" th:field="*{gender}" id="female" value="1">
            <label for="female" class="custom-control-label" th:text="#{female}"></label>
          </div><!-- /.custom-control custom-radio -->
        </div><!-- /.form-group -->

        <div class="form-group">
          <label class="control-label" for="height" th:text="#{height}"></label><span class="badge badge-danger">必須</span>
          <div class="input-group">
            <input type="text" class="validate[required,custom[number]] form-control" size="12" th:field="*{height}" required placeholder="170.00" aria-describedby="basic-addon2"  />
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">cm</span>
            </div><!-- /.input-group-append -->
          </div><!-- /.input-group -->
        </div><!-- /.form-group -->

        <div class="form-group">
          <label class="control-label" for="weight" th:text="#{weight}"></label><span class="badge badge-danger">必須</span>
          <div class="input-group">
            <input type="text" class="validate[required,custom[number]] form-control" size="12" th:field="*{weight}" required placeholder="50.00" aria-describedby="basic-addon3" />
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon3">kg</span>
            </div><!-- /.input-group-append -->
          </div><!-- /.input-group -->
        </div><!-- /.form-group -->

        <div class="form-group">
          <label class="control-label" for="lifeWorkMetabolism" th:text="#{lifeWorkMetabolism}"></label><span class="badge badge-danger">必須</span>
          <a data-toggle="modal" href="#lifeWorkMetabolismModal">生活活動代謝について</a>
          <div class="input-group">
            <input type="text" class="validate[required,custom[number]] form-control" size="12" th:field="*{lifeWorkMetabolism}" placeholder="消費カロリー" aria-describedby="basic-addon4" />
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon3">kcal</span>
            </div><!-- /.input-group-append -->
          </div><!-- /.input-group -->
        </div><!-- /.form-group -->

        <!--/* ボタン部ここから */-->
        <input type="submit" class="btn btn-success" value="確 認" />
        <input type="reset" class="btn btn-secondary" value="リセット" />
        <!--/* ボタン部ここまで */-->
      </form>

      <!--/* 生活活動代謝モーダル */-->
      <div th:replace="./caloriecalc/lifework-metabolism-model.html"></div>

      <br>

      <!--/* 結果部ここから */-->
      <div th:if="${calcResult} != null">
        <div th:replace="./caloriecalc/result.html"></div>
        <br><br>
      </div>
      <!--/* 結果部ここまで */-->
    </div><!-- /.container border col-8 -->
  </main>
  <br><br><br><br><br><br><br><br><br><br><br><br>
  <div th:replace="layout/layout :: footer"></div>

  <script src="../resources/js/lib/jquery-ui.js" th:src="@{/resources/js/lib/jquery-ui.min.js}"></script>
  <script src="../resources/js/lib/mprogress.js" th:src="@{/resources/js/lib/mprogress.min.js}"></script>
  <script>
    $(function() {

      jQuery("#calorieCalcForm").validationEngine({
        promptPosition : "topLeft:0"
      });

      var mprogress = new Mprogress();
      $("#age").on("change", function() {
        var value = 0;
        if ($('#age').val() !== '') {
          value += 1;
        }
        if ($('#height').val() !== '') {
          value += 1;
        }
        if ($('#weight').val() !== '') {
          value += 1;
        }
        if ($('#lifeWorkMetabolism').val() !== '') {
          value += 1;
        }
        var progressValue = value / 4;
        mprogress.set(progressValue);
      });

      $("#height").on("change", function() {
        var value = 0;
        if ($('#age').val() !== '') {
          value += 1;
        }
        if ($('#height').val() !== '') {
          value += 1;
        }
        if ($('#weight').val() !== '') {
          value += 1;
        }
        if ($('#lifeWorkMetabolism').val() !== '') {
          value += 1;
        }
        var progressValue = value / 4;
        mprogress.set(progressValue);
      });

      $("#weight").on("change", function() {
        var value = 0;
        if ($('#age').val() !== '') {
          value += 1;
        }
        if ($('#height').val() !== '') {
          value += 1;
        }
        if ($('#weight').val() !== '') {
          value += 1;
        }
        if ($('#lifeWorkMetabolism').val() !== '') {
          value += 1;
        }
        var progressValue = value / 4;
        mprogress.set(progressValue);
      });

      $("#lifeWorkMetabolism").on("change", function() {
        var value = 0;
        if ($('#age').val() !== '') {
          value += 1;
        }
        if ($('#height').val() !== '') {
          value += 1;
        }
        if ($('#weight').val() !== '') {
          value += 1;
        }
        if ($('#lifeWorkMetabolism').val() !== '') {
          value += 1;
        }
        var progressValue = value / 4;
        mprogress.set(progressValue);
      });

    });

  </script>
</body>
</html>