<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../resources/css/common/apiReferenceRequestModal.css" th:href="@{/resources/css/common/apiReferenceRequestModal.css}">
</head>
<body>

  <div id="api-reference-request-modal-content">
    <div class="contentLayout">
      <table class="data">
        <tr class="data">
          <th class="data" colspan="2">リクエストパラメータ</th>
          <th class="data">詳細</th>
        </tr>
        <tr class="data">
          <td class="data">リクエストタイプ</td>
          <td class="data">requestType</td>
          <td class="data">健康情報照会のリクエスト種別<br>"002"を固定とする
          </td>
        </tr>
        <tr class="data">
          <td class="data">健康情報ID</td>
          <td class="data">healthInfoId</td>
          <td class="data">健康情報を登録したときに採番される健康情報を一意に識別するID</td>
        </tr>
        <tr class="data">
          <td class="data">ユーザID</td>
          <td class="data">userId</td>
          <td class="data">健康情報アプリでユーザを一意に識別するID</td>
        </tr>
      </table>
    </div>
  </div>

</body>
</html>