<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>

  <ul id="dropmenu">
    <li><a class="navigation" href="#">MENU</a>
      <ul>
        <li><a class="navigation" href="#">健康情報</a>
          <ul>
            <li><a class="navigation" href="../healthInfo/input" th:href="@{/healthInfo/input}">入力</a></li>
            <li><a class="navigation" href="../healthInfoFile/input" th:href="@{/healthInfoFile/input}">一括</a></li>
            <li><a class="navigation" href="../healthInfoReference/index" th:href="@{/healthInfoReference/index}">照会</a></li>
          </ul>
        </li>
        <li><a class="navigation" href="#">カロリー</a>
          <ul>
            <li><a class="navigation" href="../calorieCalc/index" th:href="@{/calorieCalc/index}">計算</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a class="navigation" href="#">設定</a>
      <ul>
        <li><a class="navigation" href="#">アカウント</a>
          <ul>
            <li><a class="navigation" href="../accountSetting/input" th:href="@{/accountSetting/input}">設定変更</a></li>
          </ul>
        </li>
        <li><a class="navigation" href="#">健康情報</a>
          <ul>
            <li><a class="navigation" href="../healthInfoFileSetting/input" th:href="@{/healthInfoFileSetting/input}">設定変更</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a class="navigation" href="#">API</a>
      <ul>
        <li><a class="navigation" href="#">健康情報登録</a>
          <ul>
            <li><a id="api-regist-general-modal">概要</a></li>
            <li><a id="api-regist-request-modal">リクエスト</a></li>
            <li><a id="api-regist-response-modal">レスポンス</a></li>
          </ul>
        </li>
        <li><a class="navigation" href="#">健康情報照会</a>
          <ul>
            <li><a id="api-reference-general-modal">概要</a></li>
            <li><a id="api-reference-request-modal">リクエスト</a></li>
            <li><a id="api-reference-response-modal">レスポンス</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a class="navigation" href="#">その他</a>
      <ul>
        <li><a class="navigation" href="#">健康情報</a>
          <ul>
            <li><a id="bmi-modal">BMI</a></li>
            <li><a id="standardWeight-modal">標準体重</a></li>
          </ul>
        </li>
        <li><a class="navigation" href="#">規約</a>
          <ul>
            <li><a id="service-modal">利用規約</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a class="navigation" href="../login/index" th:href="@{/login/index}">ログアウト</a></li>
  </ul>

  <!-- APIリファレンス-健康情報登録のリクエスト情報モーダルを描画 -->
  <!-- <div th:replace="./common/apiRegistRequestModal.html"></div> -->

  <!-- APIリファレンス-健康情報登録のリクエスト情報モーダルを描画 -->
  <!-- <div th:replace="./common/apiRegistResponseModal.html"></div> -->


  <!-- APIリファレンス-健康情報照会のモーダルを描画 -->
  <div th:replace="./common/apiReferenceGeneralModal.html"></div>

  <!-- APIリファレンス-健康情報照会のモーダルを描画 -->
  <div th:replace="./common/apiReferenceRequestModal.html"></div>

  <!-- APIリファレンス-健康情報照会のモーダルを描画 -->
  <div th:replace="./common/apiReferenceResponseModal.html"></div>


  <script type="text/javascript" src="../resources/js/lib/jquery.min.js" th:src="@{/resources/js/lib/jquery.min.js}"></script>
  <script type="text/javascript" src="../resources/js/common/bmiModal.min.js" th:src="@{/resources/js/common/bmiModal.min.js}"></script>
  <script type="text/javascript" src="../resources/js/common/standardWeightModal.min.js" th:src="@{/resources/js/common/standardWeightModal.min.js}"></script>

  <script type="text/javascript" src="../resources/js/common/apiRegistGeneralModal.min.js" th:src="@{/resources/js/common/apiRegistGeneralModal.min.js}"></script>
  <script type="text/javascript" src="../resources/js/common/apiRegistRequestModal.min.js" th:src="@{/resources/js/common/apiRegistRequestModal.min.js}"></script>
  <script type="text/javascript" src="../resources/js/common/apiRegistResponseModal.js" th:src="@{/resources/js/common/apiRegistResponseModal.min.js}"></script>

  <script type="text/javascript" src="../resources/js/common/apiReferenceGeneralModal.min.js" th:src="@{/resources/js/common/apiReferenceGeneralModal.min.js}"></script>
  <script type="text/javascript" src="../resources/js/common/apiReferenceRequesetModal.min.js" th:src="@{/resources/js/common/apiReferenceRequestModal.min.js}"></script>
  <script type="text/javascript" src="../resources/js/common/apiReferenceResponseModal.min.js" th:src="@{/resources/js/common/apiReferenceResponseModal.min.js}"></script>

  <script type="text/javascript" src="../resources/js/common/serviceModal.min.js" th:src="@{/resources/js/common/serviceModal.min.js}"></script>

</body>
</html>