<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>健康アプリ_アカウント登録画面</title>
<link rel="icon" type="image/png" href="../resources/image/people.png">
<link rel="stylesheet" type="text/css" href="../resources/css/layout.css">
<link rel="stylesheet" type="text/css" href="../resources/css/common/baseLayout.css">
<link rel="stylesheet" type="text/css" href="../resources/css/common/headericon.css">
<link rel="stylesheet" type="text/css" href="../resources/css/common/fort.css">
<link rel="stylesheet" type="text/css" href="../resources/css/input.css">
<link rel="stylesheet" type="text/css" href="../resources/css/table.css">
</head>
<body>


	<h1>
		<img class="headericon" alt="入力" src="../resources/image/icon_input.jpg">
		アカウント登録入力画面
	</h1>
	<hr>
	<br><br>

	<div align="center">
		<div>
			<progress id="bar" max="3" value="0"></progress>
		</div>
	</div>

	<!--/* 入力画面 */-->
	<form action="./confirm.html" id="accountRegistForm" th:action="@{./confirm.html}" method="post" th:object="${accountRegistForm}">
	<div align="center">

		<div th:if="${errorMessage} != null">
			<div class="errorMessage">
				<p th:text="${errorMessage}"></p>
			</div>
		</div>

		<div class="errorMessage" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></div>
		<div class="errorMessage" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
		<div class="errorMessage" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>
		<div class="errorMessage" th:if="${#fields.hasErrors('remarks')}" th:errors="*{remarks}"></div>

		<input type="text" th:field="*{userId}" maxlength="16" required placeholder="ユーザID" oninput="changeValue()" />
		<br><br>
		<input type="text" th:field="*{password}" maxlength="16" required placeholder="パスワード" oninput="changeValue()" />
		<br><br>
		<input type="text" th:field="*{confirmPassword}" maxlength="16" required placeholder="確認用パスワード" oninput="changeValue()" />
		<br><br>
		<textarea rows="10" cols="30" name="remarks"></textarea>
		<br><br>
		<table>
			<tr>
				<td>
					<input type="submit" value="確 認" />
				</td>
				<td>
					<p>　　</p>
				</td>
				<td>
					<input type="reset" value="リセット" onclick="resetBar()" />
				</td>
			</tr>
		</table>
	</div>
	</form>

	<br><br>
	<hr>
	<div th:include="./common/footer.html"></div>

	<script type="text/javascript" src="../resources/js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="../resources/js/lib/jquery.validate.min.js"></script>
	<script type="text/javascript" src="../resources/js/common/fort.js"></script>
	<script type="text/javascript" src="../resources/js/accountCreate.js"></script>
	<script type="text/javascript" src="../resources/js/common/common.js"></script>
</body>
</html>