.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
tfplan
*.tfplan
*.plan
.terraform.lock.hcl