<!-- 健康情報登録API概要モーダルの設定 -->
<div class="modal fade" id="apiRegistGeneralModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">健康情報登録APIについて</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button><!-- /.close -->
      </div><!-- /.modal-header -->
      <div class="modal-body">
        <label>以下のHTTPリクエストより、ユーザの健康情報を登録する</label>
        <li>エンドポイントURL</li>
        <table class="table table-hover">
           <tr>
             <td>/api/自身のユーザID/healthinfo<td>
           </tr>
        </table><!-- /.table table-hover -->
        <li>HTTPメソッド</li>
        <table class="table table-hover">
           <tr>
             <td><span class="badge badge-primary">POST</span><td>
           </tr>
        </table><!-- /.table table-hover -->
        <li>HTTPヘッダ</li>
        <table class="table table-hover">
          <tr>
            <th scope="row">Content-Type</th>
            <td>application/json</td>
          </tr>
          <tr>
            <th scope="row">Accept-Charset</th>
            <td>utf-8</td>
          </tr>
          <tr>
            <th scope="row">Api-Key</th>
            <td>ユーザに発行されているアカウントのAPIキー<br>アカウント設定画面で確認してください</td>
          </tr>
        </table><!-- /.table table-hover -->
      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable -->
</div><!-- /.modal fade -->