<!-- ヘルスチェックAPIレスポンスモーダルの設定 -->
<div class="modal fade" id="apiHealthCheckResponseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ヘルスチェックAPIレスポンスについて</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button><!-- /.close -->
      </div><!-- /.modal-header -->
      <div class="modal-body">
        <table class="table table-hover table-striped">
          <tr>
            <th colspan="3">レスポンスボディ</th>
            <th>詳細</th>
          </tr>
          <tr>
            <td colspan="2">result</td>
            <td>結果区分</td>
            <td>API実施時の結果
              <li>正常終了の場合:0</li>
              <li>異常終了の場合:1</li>
            </td>
          </tr>
          <tr>
            <td colspan="2">error</td>
            <td>エラー情報</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>code</td>
            <td>エラーコード</td>
            <td>エラーが発生した場合、エラーコード</td>
          </tr>
          <tr>
            <td></td>
            <td>detail</td>
            <td>エラー詳細</td>
            <td>エラーが発生した場合、詳細情報</td>
          </tr>
        </table><!-- /.table table-hover table-striped -->
      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->