<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/layout :: head_fragment(title = '健康アプリ_アカウント登録完了画面', scripts = ~{::script}, links = ~{::link})">
<link rel="stylesheet" href="../resources/css/lib/sal.css" th:href="@{/resources/css/lib/sal.min.css}">
</head>
<body>

  <div th:replace="layout/layout :: header"></div>

  <!--/* contentLayout部ここから */-->
  <div align="center" class="contentLayout">
    <br><br>
    <h2 class="menuTitle">アカウント登録完了画面</h2>

    <div data-sal="slide-up">完了しました</div>
    <br><br>
    <div class="table">
      <div class="table-row">
        <div class="table-data">
          <form action="../login/index" th:action="@{/login/index}" method="get">
            <input type="submit" value="ログイン画面" />
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--/* contentLayout部ここまで */-->

  <div th:replace="layout/layout :: footer"></div>

  <script src="../resources/js/lib/sal.js" th:src="@{/resources/js/lib/sal.min.js}"></script>
  <script>
    $(function() {
      sal({
        threshold: 1,
        once: false,
      });
    });
  </script>
</body>
</html>