<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>健康アプリ_アカウント登録確認画面</title>
<link rel="icon" type="image/png" href="../resources/image/favicon.png" th:href="@{/resources/image/favicon.png}">
<link rel="stylesheet" type="text/css" href="../resources/css/layout.css" th:href="@{/resources/css/layout.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/common/headericon.css" th:href="@{/resources/css/common/headericon.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/input.css" th:href="@{/resources/css/input.css}">
</head>
<body>

  <div th:replace="layout/layout :: header"></div>

  <!--/* contentLayout部ここから */-->
  <div align="center" class="contentLayout">
    <h2 class="menuTitle">アカウント登録確認画面</h2>

    <form action="./complete" th:action="@{./complete}" method="post" th:object="${accountRegistForm}">
      <table>
        <tr>
          <th>
            <label>ユーザID</label>
          </th>
          <td>
            <input type="text" maxlength="16" th:field="*{userId}" readonly required />
          </td>
        </tr>
        <tr>
          <th>
            <label>パスワード</label>
          </th>
          <td>
            <input type="text" maxlength="16" th:field="*{password}" readonly required />
          </td>
        </tr>
        <tr>
          <th>
            <label>確認用 パスワード</label>
          </th>
          <td>
            <input type="text" maxlength="16" th:field="*{confirmPassword}" readonly required />
          </td>
        </tr>
        <tr>
          <th>
            <label>備 考</label>
          </th>
          <td>
            <textarea rows="10" cols="30" th:field="*{remarks}" readonly></textarea>
          </td>
        </tr>
      </table>
      <br><br>
      <table>
        <tr>
          <td>
            <input type="submit" value="確 定" />
          </td>
          <td>
            <p>　　</p>
          </td>
          <td>
            <input type="button" value="戻 る" onclick="history.back()" />
          </td>
        </tr>
      </table>
    </form>
  </div>
  <!--/* contentLayout部ここまで */-->

  <div th:replace="layout/layout :: footer"></div>

  <script type="text/javascript" src="../resources/js/lib/jquery.min.js" th:src="@{/resources/js/lib/jquery.min.js}"></script>
  <script type="text/javascript" src="../resources/js/common/common.js" th:src="@{/resources/js/common/common.js}"></script>
  <script type="text/javascript">
    $(function() {
      jQuery("#accountRegistForm").validationEngine({
        promptPosition : "topLeft:80"
      });
    });
  </script>

</body>
</html>