<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>健康アプリ_アカウント登録確認画面</title>
<link rel="icon" type="image/png" href="../resources/image/favicon.png" th:href="@{/resources/image/favicon.png}">
<link rel="stylesheet" type="text/css" href="../resources/css/layout.css" th:href="@{/resources/css/layout.min.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/common/headericon.css" th:href="@{/resources/css/common/headericon.min.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/lib/validationEngine.jquery.css" th:href="@{/resources/css/lib/validationEngine.jquery.min.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/input.css" th:href="@{/resources/css/input.min.css}">
</head>
<body>

  <div th:replace="layout/layout :: header"></div>

  <!--/* contentLayout部ここから */-->
  <div align="center" class="contentLayout">
    <h2 class="menuTitle">アカウント登録確認画面</h2>

    <form action="./complete" th:action="@{./complete}" method="post" th:object="${accountRegistForm}">
      <!--/* table部ここから */-->
      <div class="table">
        <div class="table-row">
          <div class="table-header" th:text="#{userId}"></div>
          <div class="table-data" th:text="*{userId}"></div>
          <input type="hidden" th:field="*{userId}">
        </div>
        <div class="table-row">
          <div class="table-header" th:text="#{password}"></div>
          <div class="table-data" th:text="*{password}"></div>
          <input type="hidden" th:field="*{password}">
        </div>
        <div class="table-row">
          <div class="table-header" th:text="#{confirmPassword}"></div>
          <div class="table-data" th:text="*{confirmPassword}"></div>
          <input type="hidden" th:field="*{confirmPassword}">
        </div>
        <div class="table-row">
          <div class="table-header" th:text="#{remarks}"></div>
          <div class="table-data" th:text="*{remarks}"></div>
          <input type="hidden" th:field="*{remarks}">
        </div>
      </div>
      <!--/* table部ここまで */-->

      <br><br>

      <!--/* table部ここから */-->
      <div class="table">
        <div class="table-row">
          <div class="table-data">
            <input type="submit" value="確 定" />
          </div>
          <div class="table-data">&ensp;&ensp;</div>
          <div class="table-data">
            <input type="button" value="戻 る" onclick="history.back()" />
          </div>
        </div>
      </div>
      <!--/* table部ここまで */-->

    </form>
  </div>
  <!--/* contentLayout部ここまで */-->

  <div th:replace="layout/layout :: footer"></div>

  <script type="text/javascript" src="../resources/js/lib/jquery.js" th:src="@{/resources/js/lib/jquery.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/jquery.validationEngine-ja.js" th:src="@{/resources/js/lib/jquery.validationEngine-ja.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/jquery.validationEngine.js" th:src="@{/resources/js/lib/jquery.validationEngine.min.js}"></script>
  <script type="text/javascript" src="../resources/js/common/common.js" th:src="@{/resources/js/common/common.min.js}"></script>
  <script type="text/javascript">
    $(function() {
      jQuery("#accountRegistForm").validationEngine({
        promptPosition : "topLeft:80"
      });
    });
  </script>
</body>
</html>