<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  th:replace="~{layout/template :: layout(~{::title},~{::body/content()},~{::link})}">
<head>
<title>アカウント登録画面</title>
<link>
</head>
<body>

  <div class="px-4">
    <form id="accountRegistForm" action="./confirm" th:action="@{./confirm}" method="post" th:object="${accountRegistForm}">
      <div class="container border col-7">
        <h2 class="menuTitle">アカウント登録</h2>

        <br>
        <div class="alert alert-danger" role="alert" th:if="${errorMessage} != null" th:text="${errorMessage}"></div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('mailAddress')}" th:errors="*{mailAddress}"></div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('remarks')}" th:errors="*{remarks}"></div>

        <!--/* メールアドレスここから */-->
        <div class="form-group">
          <label class="control-label" for="mailAddress" th:text="#{mailAddress}"></label><span class="badge badge-danger">必須</span>
          <input type="email" class="validate[required,custom[email]] form-control" th:field="*{mailAddress}" maxlength="64" required placeholder="test@test.com" />
          <div id="suggest"></div>
        </div><!-- /.form-group -->
        <!--/* メールアドレスここまで */-->

        <!--/* パスワードここから */-->
        <div class="form-group">
          <label class="control-label" th:text="#{password}"></label><span class="badge badge-danger">必須</span>
          <div class="checkbox">
            <input type="password" class="validate[required] form-control" th:field="*{password}" maxlength="16" required placeholder="adminpass" />
            <label class="custom-control custom-checkbox">
              <input type="checkbox" id="password-check" class="checkbox-input custom-control-input" />
              <span class="checkbox-parts custom-control-label">パスワードを表示</span>
            </label><!-- /.custom-control custom-checkbox -->
          </div><!-- /.checkbox -->
        </div><!-- /.form-group -->
        <!--/* パスワードここまで */-->

        <!--/* 確認用パスワードここから */-->
        <div class="form-group">
          <label class="control-label" th:text="#{confirmPassword}"></label><span class="badge badge-danger">必須</span>
          <div class="checkbox">
            <input type="password" class="validate[required,equals[password]] form-control" th:field="*{confirmPassword}" maxlength="16" required placeholder="adminpass" />
            <label class="custom-control custom-checkbox">
              <input type="checkbox" id="confirmPassword-check" class="checkbox-input custom-control-input" />
              <span class="checkbox-parts custom-control-label">パスワードを表示</span>
            </label><!-- /.custom-control custom-checkbox -->
          </div><!-- /.checkbox -->
        </div><!-- /.form-group -->
        <!--/* 確認用パスワードここまで */-->

        <!--/* 備考ここから */-->
        <div class="form-group">
          <p th:text="#{remarks}"></p>
          <textarea class="form-control" rows="10" cols="30" th:field="*{remarks}" placeholder="備 考"></textarea>
        </div><!-- /.form-group -->
        <!--/* 備考ここまで */-->

        <!--/* ボタン部ここから */-->
        <input type="submit" class="btn btn-success w-25" value="確 認" />
        <input type="reset" class="btn btn-secondary w-25" value="リセット" />
        <!--/* ボタン部ここまで */-->
        <br><br>
      </div><!-- /.container border col-7 -->
    </form><!-- /#accountRegistForm -->
  </div>

  <script th:src="@{/resources/js/common/password.min.js}"></script>
  <script th:src="@{/resources/js/lib/mailcheck.min.js}"></script>
  <script>
    $(function() {

      // validate処理
      jQuery("#accountRegistForm").validationEngine({
        promptPosition : "bottomLeft:80"
      });

      // アカウント登録画面⇒TOP画面には遷移できないようにする
      $(".appTitle").removeAttr("onclick");

      $("input.reset").on("click", function() {
        $("#mailAddress").val("");
        $("#password").val("");
        $("#confirmPassword").val("");
      });

      var mprogress = new Mprogress();
      $("#mailAddress").on("change", function() {
        var value = 0;
        if ($('#mailAddress').val() !== '') {
          value += 1;
        }
        if ($('#password').val() !== '') {
          value += 1;
        }
        if ($('#confirmPassword').val() !== '') {
          value += 1;
        }
        var progressValue = value / 3;
        mprogress.set(progressValue);
      });

      $("#password").on("change", function() {
        var value = 0;
        if ($('#mailAddress').val() !== '') {
          value += 1;
        }
        if ($('#password').val() !== '') {
          value += 1;
        }
        if ($('#confirmPassword').val() !== '') {
          value += 1;
        }
        var progressValue = value / 3;
        mprogress.set(progressValue);
      });

      $("#confirmPassword").on("change", function() {
        var value = 0;
        if ($('#mailAddress').val() !== '') {
          value += 1;
        }
        if ($('#password').val() !== '') {
          value += 1;
        }
        if ($('#confirmPassword').val() !== '') {
          value += 1;
        }
        var progressValue = value / 3;
        mprogress.set(progressValue);
      });

      const domains = [
          "gmail.com",
          "yahoo.co.jp",
          "ezweb.ne.jp",
          "au.com",
          "docomo.ne.jp",
          "i.softbank.jp",
          "softbank.ne.jp",
          "outlook.com",
          "outlook.jp"
        ];

        $("#mailAddress").on("blur", function() {
          $(this).mailcheck({
            domains: domains,
            suggested: function(element, suggestion) {
              $("#suggest").text(suggestion.full);
              $("#suggest").on("click", function() {
                $("#mailAddress").val(suggestion.full);
                $(this).hide();
              });
            }
          });
        });

    });

  </script>
</body>
</html>