<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/layout :: head_fragment(title = '健康アプリ_アカウント登録画面', scripts = ~{::script}, links = ~{::link})">
<link rel="stylesheet" type="text/css" href="../resources/css/lib/mprogress.css" th:href="@{/resources/css/lib/mprogress.min.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/lib/sal.css" th:href="@{/resources/css/lib/sal.min.css}">
</head>
<body>

  <div th:replace="layout/layout :: header"></div>

  <!--/* contentLayout部ここから */-->
  <div align="center" class="contentLayout">
    <h2 class="menuTitle">アカウント登録画面</h2>

    <form action="./confirm" id="accountRegistForm" th:action="@{./confirm}" method="post" th:object="${accountRegistForm}">

      <div th:if="${errorMessage} != null" data-sal="slide-up">
        <div id="errorMessage" class="errorMessage" data-sal="slide-up">
          <p th:text="${errorMessage}"></p>
        </div>
      </div>

      <div class="errorMessage" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" data-sal="slide-up"></div>
      <div class="errorMessage" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" data-sal="slide-up"></div>
      <div class="errorMessage" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" data-sal="slide-up"></div>
      <div class="errorMessage" th:if="${#fields.hasErrors('remarks')}" th:errors="*{remarks}" data-sal="slide-up"></div>

      <!--/* table部ここから */-->
      <div class="table">
        <div class="table-row">
          <div class="table-header" th:text="#{userId}"></div>
          <div class="table-data">
            <input type="text" class="validate[required]" th:field="*{userId}" maxlength="16" required placeholder="ユーザID" />
          </div>
        </div>

        <div class="table-row">&ensp;</div>

        <div class="table-row">
          <div class="table-header" th:text="#{password}"></div>
          <div class="table-data">
            <div class="checkbox">
              <input type="password" class="validate[required]" th:field="*{password}" maxlength="16" required placeholder="パスワード" />
              <label>
                <input type="checkbox" id="password-check" class="checkbox-input" />
                <span class="checkbox-parts"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="table-row">&ensp;</div>

        <div class="table-row">
          <div class="table-header" th:text="#{confirmPassword}"></div>
          <div class="table-data">
            <div class="checkbox">
              <input type="password" class="validate[required,equals[password]]" th:field="*{confirmPassword}" maxlength="16" required placeholder="確認用パスワード" />
              <label>
                <input type="checkbox" id="confirmPassword-check" class="checkbox-input" />
                <span class="checkbox-parts"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="table-row">&ensp;</div>

        <div class="table-row">
          <div class="table-header" th:text="#{remarks}"></div>
          <div class="table-data">
            <textarea rows="10" cols="30" th:field="*{remarks}" placeholder="備 考"></textarea>
          </div>
        </div>
      </div>
      <!--/* table部ここまで */-->

      <!--/* table部ここから */-->
      <div class="table">
        <div class="table-row">
          <div class="table-data">
            <input type="submit" value="確 認" />
          </div>
          <div class="table-data">&ensp;&ensp;</div>
          <div class="table-data">
            <input type="reset" class="reset" value="リセット" />
          </div>
        </div>
      </div>
      <!--/* table部ここまで */-->

    </form>
  </div>
  <!--/* contentLayout部ここまで */-->

  <div th:replace="layout/layout :: footer"></div>

  <script type="text/javascript" src="../resources/js/lib/mprogress.js" th:src="@{/resources/js/lib/mprogress.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/sal.js" th:src="@{/resources/js/lib/sal.min.js}"></script>
  <script type="text/javascript">
    $(function() {

      sal({
        threshold: 1,
        once: false
      });

      // validate処理
      jQuery("#accountRegistForm").validationEngine({
        promptPosition : "bottomLeft:80"
      });

      // アカウント登録画面⇒TOP画面には遷移できないようにする
      $(".appTitle").removeAttr("onclick");

      $("input.reset").on("click", function() {
        $("#userId").val("");
        $("#password").val("");
        $("#confirmPassword").val("");
      });

      var mprogress = new Mprogress();
      $("#userId").on("change", function() {
        var value = 0;
        if ($('#userId').val() !== '') {
          value += 1;
        }
        if ($('#password').val() !== '') {
          value += 1;
        }
        if ($('#confirmPassword').val() !== '') {
          value += 1;
        }
        var progressValue = value / 3;
        mprogress.set(progressValue);
      });

      $("#password").on("change", function() {
        var value = 0;
        if ($('#userId').val() !== '') {
          value += 1;
        }
        if ($('#password').val() !== '') {
          value += 1;
        }
        if ($('#confirmPassword').val() !== '') {
          value += 1;
        }
        var progressValue = value / 3;
        mprogress.set(progressValue);
      });

      $("#confirmPassword").on("change", function() {
        var value = 0;
        if ($('#userId').val() !== '') {
          value += 1;
        }
        if ($('#password').val() !== '') {
          value += 1;
        }
        if ($('#confirmPassword').val() !== '') {
          value += 1;
        }
        var progressValue = value / 3;
        mprogress.set(progressValue);
      });

      var password = $('#password').get(0);
      var passwordCheck = $('#password-check').get(0);
      passwordCheck.addEventListener('change', function() {
        var inputType = passwordCheck.checked ? 'text' : 'password';
        password.setAttribute('type', inputType);
      }, false);

      var confirmPassword = $('#confirmPassword').get(0);
      var confirmPasswordCheck = $('#confirmPassword-check').get(0);
      confirmPasswordCheck.addEventListener('change', function() {
        if (confirmPasswordCheck.checked) {
          confirmPassword.setAttribute('type', 'text');
        } else {
          confirmPassword.setAttribute('type', 'password');
        }
      }, false);
    });

  </script>
</body>
</html>