.base {
  background-color: rgb(241, 241, 241);
}
details {
  cursor: pointer;
}

.post-link {
  color: #006d77;
  display: inline;
  overflow-wrap: anywhere;
  text-transform: none !important;
  text-decoration: none;
  white-space: normal;
}

.post-link:hover {
  text-decoration: underline;
}
