<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>健康アプリ_ファイル設定入力確認画面</title>
<link rel="icon" type="image/png" href="../resources/image/favicon.png" th:href="@{/resources/image/favicon.png}">
<link rel="stylesheet" type="text/css" href="../resources/css/layout.css" th:href="@{/resources/css/layout.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/common/headericon.css" th:href="@{/resources/css/common/headericon.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/input.css" th:href="@{/resources/css/input.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/menuicon.css" th:href="@{/resources/css/menuicon.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/navigation.css" th:href="@{/resources/css/navigation.css}">
</head>
<body>

  <div th:replace="layout/layout :: header"></div>

  <div th:replace="./common/navigation.html"></div>

  <!--/* contentLayout部ここから */-->
  <div align="center" class="contentLayout">
    <h2 class="menuTitle">ファイル設定入力確認画面</h2>

    <form action="./complete" th:action="@{./complete}" method="post" th:object="${healthInfoFileSettingForm}">
      <table class="data">
        <tr class="data">
          <th class="data">
            <label>ユーザID</label>
          </th>
          <td class="data">
            <p th:text="*{userId}"></p>
            <input type="hidden" class="validate[required]" th:field="*{userId}" value="${userId}" />
          </td>
        </tr>
        <tr class="data">
          <th class="data">
            <label>ヘッダ利用</label>
          </th>
          <td class="data">
            <div th:if="${form.headerFlag} == 1">
              <label>する</label>
            </div>
            <div th:if="${form.headerFlag} == 0">
              <label>しない</label>
            </div>
            <input type="hidden" th:field="${form.headerFlag}" />
          </td>
        </tr>
        <tr class="data">
          <th class="data">
            <label>フッタ利用</label>
          </th>
          <td class="data">
            <div th:if="${form.footerFlag} == 1">
              <label>する</label>
            </div>
            <div th:if="${form.footerFlag} == 0">
              <label>しない</label>
            </div>
            <input type="hidden" th:field="${form.footerFlag}" />
          </td>
        </tr>
        <tr class="data">
          <th class="data">
            <label>マスク利用</label>
          </th>
          <td class="data">
            <div th:if="${form.maskFlag} == 1">
              <label>する</label>
            </div>
            <div th:if="${form.maskFlag} == 0">
              <label>しない</label>
            </div>
            <input type="hidden" th:field="${form.maskFlag}" />
          </td>
        </tr>
        <tr class="data">
          <th class="data">
            <label>囲み文字利用</label>
          </th>
          <td class="data">
            <div th:if="${form.enclosureCharFlag} == 1">
              <label>する</label>
            </div>
            <div th:if="${form.enclosureCharFlag} == 0">
              <label>しない</label>
            </div>
            <input type="hidden" th:field="${form.enclosureCharFlag}" />
          </td>
        </tr>
      </table>

      <br>

      <!--/* table部ここから */-->
      <div class="table">
        <div class="table-row">
          <div class="table-data">
            <input type="submit" value="確 定" />
          </div>
          <div class="table-data"></div>
          <div class="table-data">
            <input type="button" value="戻 る" onclick="history.back()" />
          </div>
        </div>
      </div>
      <!--/* table部ここまで */-->

    </form>
  </div>
  <!--/* contentLayout部ここまで */-->

  <div th:replace="layout/layout :: footer"></div>

  <script type="text/javascript" src="../resources/js/lib/jquery.min.js" th:src="@{/resources/js/lib/jquery.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/jquery.validationEngine-ja.min.js" th:src="@{/resources/js/lib/jquery.validationEngine-ja.min.js}"></script>
  <script type="text/javascript" src="../resources/js/lib/jquery.validationEngine.min.js" th:src="@{/resources/js/lib/jquery.validationEngine.min.js}"></script>
  <script type="text/javascript" src="../resources/js/common/common.min.js" th:src="@{/resources/js/common/common.min.js}"></script>
  <script type="text/javascript">
    $(function() {

    });
  </script>
</body>
</html>