<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  th:replace="~{layout/template :: layout(~{::title},~{::body/content()},~{::link})}">
<head>
<title>TOP画面</title>
<link>
</head>
<body>

  <div class="px-4" th:if="${needNotice == 'Y'}">
    <div class="alert alert-warning" role="alert">本日の健康情報が未登録です。
    </div><!-- ./alert alert-warning alert-dismissible fade show -->
  </div><!-- /.px-4 -->
 
  <div class="px-4" th:if="${needNotice == ''}">
    <br>
  </div><!-- /.px-4 -->

  <div class="px-4 pb-3">
    <!-- TODO: 健康情報カード -->
    <div class="row">
      <div class="col-6 pr-3 pt-1 pb-1">
        <div class="border shadow p-3">
          <h1 class="h2 mb-0">TODO 最新の健康情報追加</h1>
        </div><!-- /.border shadow p-3 -->
      </div><!-- /.col-6 pr-3 pt-1 pb-1 -->
      <div class="col-6 pl-3 pt-1 pb-1">
        <div class="border shadow p-3">
          <h1 class="h2 mb-0">TODO 目標の健康情報追加</h1>
        </div><!-- /.border shadow p-3 -->
      </div><!-- /.col-6 pl-3 pt-1 pb-1 -->
    </div><!-- /.row -->

    <!-- 最近登録した10件 -->
    <div class="row mt-4">
      <div class="col-12">
        <div class="border shadow p-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom mb-3 pb-2">
            <h1 class="h2 mb-0">最近登録した10件</h1>
          </div><!-- /.d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom mb-3 pb-2 -->

          <!-- Chart canvasを中央に寄せる -->
          <div class="d-flex justify-content-center">
            <div class="w-100" style="max-width: 800px;">
              <canvas id="chart" class="chart" style="width: 85%; height: 400px;"></canvas>
            </div><!-- /.w-100 -->
          </div><!-- /.d-flex justify-content-center -->
        </div><!-- /.border shadow p-4 -->
      </div><!-- /.col-12 -->
    </div><!-- /.row mt-4 -->
  </div><!-- /.px-4 -->

  <script th:inline="javascript">
    $(function() {

      /*<![CDATA[*/
      var ctx = document.getElementById("chart");
      var chart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: /*[[ ${label} ]]*/,
          datasets: [
            {
              label: "体重",
              borderColor: "rgb(142, 0, 204)",
              lineTension: 0,
              fill: false,
              pointHoverBackgroundColor: "rgb(255, 0, 0)",
              data: /*[[ ${weight} ]]*/,
              borderWidth: 4,
            },
            {
              label: "BMI",
              borderColor: "rgb(239, 117, 188)",
              lineTension: 0,
              fill: false,
              pointHoverBackgroundColor: "rgb(255, 0, 0)",
              data: /*[[ ${bmi} ]]*/,
              borderWidth: 4,
            },
            {
              label: "標準体重",
              borderColor: "rgb(255, 94, 25)",
              lineTension: 0,
              fill: false,
              pointHoverBackgroundColor: "rgb(255, 0, 0)",
              data: /*[[ ${standardWeight} ]]*/,
              borderWidth: 4,
            }
          ]
        },
        option: {
          responsive: true,
        }
       });
       /*]]>*/
    });
  </script>
</body>
</html>