<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  th:replace="~{layout/template :: layout(~{::title},~{::body/content()},~{::link})}">
<head>
<title>TOP画面</title>
<link>
</head>
<body>

  <div class="px-4" th:if="${needNotice == 'Y'}">
    <div class="alert alert-warning" role="alert">
      本日の健康情報が未登録です。登録は<a th:href="@{/healthinfo/input}" class="alert-link">こちら</a>
    </div><!-- /.alert alert-warning -->
  </div><!-- /.px-4 -->
 
  <div class="px-4" th:if="${needNotice == ''}">
    <br>
  </div><!-- /.px-4 -->

  <div class="px-4 pb-3">
    <!-- 健康情報カード -->
    <div class="row align-items-stretch">
      <div class="col-md-6 pr-md-3 pt-1 pb-1 mb-3">
        <div class="card border shadow h-100">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h1 class="h5 mb-0">最新の健康情報</h1>
          </div>
          <!-- 健康情報が登録されている場合 -->
          <div class="card-body text-center" th:if="${latest != null}">
            <div class="row">
              <!-- 最新体重 -->
              <div class="col-6 d-flex flex-column align-items-center pt-4 pb-4">
                <div class="position-relative">
                  <div class="text-muted" style="position: absolute; top: -1.5rem; left: 0;" th:text="#{weight}"></div>
                  <div class="d-flex align-items-baseline">
                    <span class="font-weight-bold" style="font-size: 2.5rem;" th:text="*{latest.weight}"></span>
                    <span class="ml-1" style="font-size: 1rem;">kg</span>
                  </div><!-- /.d-flex -->
                  <div class="d-flex align-items-baseline" th:if="*{status} != null and *{status} != ''">
                    <span>前回より　</span>
                    <span class="font-weight-bold" style="font-size: 1.2rem;" th:if="*{status} == '30'">+</span>
                    <span class="font-weight-bold" style="font-size: 1.2rem;" th:if="*{status} == '10'">-</span>
                    <span class="font-weight-bold" style="font-size: 1.2rem;" th:text="*{diff}"></span>
                    <span class="ml-1" style="font-size: 1rem;">kg</span>
                  </div><!-- /.d-flex -->
                </div><!-- /.position-relative -->
              </div><!-- /.col-6 -->

              <!-- 最新BMI -->
              <div class="col-6 d-flex flex-column align-items-center pt-4 pb-4">
                <div class="position-relative">
                  <div class="text-muted" style="position: absolute; top: -1.5rem; left: 0;" th:text="#{bmi}"></div>
                  <div class="d-flex align-items-baseline">
                    <span class="font-weight-bold" style="font-size: 2.5rem;" th:text="*{latest.bmi}"></span>
                  </div><!-- /.d-flex align-items-baseline -->
                </div><!-- /.position-relative -->
              </div><!-- /.col-6 -->
            </div><!-- /.row -->
            <!-- 健康情報が1件も登録されていない場合 -->
            <div class="card-body text-center" th:if="${latest == null}">
              <p class="text-muted">健康情報がまだ登録されていません</p>
              <p class="text-muted">最初の健康データを登録すると、体重やBMI等がグラフで表示されます。</p>
              <a th:href="@{/healthinfo/input}" class="btn btn-primary">健康情報 登録</a>
            </div><!-- /.card-body -->
          </div><!-- /.card-body -->
        </div><!-- /.card -->
      </div><!-- /.col-md-6 -->

      <div class="col-md-6 pl-md-3 pt-1 pb-1 mb-3">
        <div class="card border shadow h-100">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h1 class="h5 mb-0">目標 体重</h1>
          </div><!-- /.card-header -->
          <div class="card-body text-center" th:if="${latest != null}">
            <!-- 目標体重 -->
            <div class="row">
              <div class="col-12 d-flex flex-column align-items-center pt-4 pb-4">
                <div class="position-relative w-100 text-center">
                  <div class="text-muted  mb-2" style="word-break: break-word;">目標</div>
                  <div class="d-flex align-items-baseline justify-content-center flex-wrap">
                    <span class="font-weight-bold" style="font-size: 2.5rem; word-break: break-word;" th:text="*{goalWeight}"></span>
                    <span class="ml-1 mr-2" style="font-size: 1rem;">kgまで </span>
                    <span class="font-weight-bold" style="font-size: 2.5rem;" th:text="*{goalDiff}"></span>
                    <span class="ml-1" style="font-size: 1rem;">kg </span>
                  </div><!-- /.d-flex -->
                </div><!-- /.position-relative -->
              </div><!-- /.col-12 -->
              <div class="col-12 d-flex flex-column align-items-center pt-4 pb-4">
                目標の変更は<a th:href="@{/accountsetting/input}">こちら</a>
              </div><!-- /.col-12 -->
            </div><!-- /.row -->
          </div><!-- /.card-body -->
        </div><!-- /.card -->
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->

    <!-- 最近登録した10件 -->
    <div class="row align-items-stretch">
      <div class="col-md-12">
        <div class="card border shadow h-100">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h1 class="h5 mb-0">最近登録した10件</h1>
          </div>

          <!-- Chart canvasを中央に寄せる -->
          <div class="card-body d-flex justify-content-center">
            <div class="w-100" >
              <canvas id="chart" class="chart" style="width: 85%; height: 400px;"></canvas>
            </div><!-- /.w-100 -->
          </div><!-- /.card-body -->
        </div><!-- /.border shadow p-4 card -->
      </div><!-- /.col-12 -->
    </div><!-- /.row mt-4 -->
  </div><!-- /.px-4 -->

  <script th:inline="javascript">
    $(function() {

      /*<![CDATA[*/
      var ctx = document.getElementById("chart");
      var chart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: /*[[ ${label} ]]*/,
          datasets: [
            {
              label: "体重",
              borderColor: "rgb(142, 0, 204)",
              lineTension: 0,
              fill: false,
              pointHoverBackgroundColor: "rgb(255, 0, 0)",
              data: /*[[ ${weight} ]]*/,
              borderWidth: 4,
            },
            {
              label: "BMI",
              borderColor: "rgb(239, 117, 188)",
              lineTension: 0,
              fill: false,
              pointHoverBackgroundColor: "rgb(255, 0, 0)",
              data: /*[[ ${bmi} ]]*/,
              borderWidth: 4,
            },
            {
              label: "標準体重",
              borderColor: "rgb(255, 94, 25)",
              lineTension: 0,
              fill: false,
              pointHoverBackgroundColor: "rgb(255, 0, 0)",
              data: /*[[ ${standardWeight} ]]*/,
              borderWidth: 4,
            }
          ]
        },
        option: {
          responsive: true,
        }
       });
       /*]]>*/
    });
  </script>
</body>
</html>