<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  th:replace="~{layout/template :: layout(~{::title},~{::body/content()},~{::link})}">
<head>
<title>TOP画面</title>
<link>
</head>
<body>

  <div class="px-4"th:if="${needNotice == 'Y'}">
    <div class="alert alert-warning" role="alert">本日の健康情報が未登録です。
    </div><!-- ./alert alert-warning alert-dismissible fade show -->
  </div><!-- /.px-4 -->

  <div class="px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">最近登録した10件</h1>
    </div>

    <div class="container border col-8 shadow">
      <canvas id="chart" class="chart"></canvas>
     </div><!-- /.container border col-8 -->
    <br>
  </div>

  <script th:inline="javascript">
    $(function() {

      /*<![CDATA[*/
      var ctx = document.getElementById("chart");
      var chart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: /*[[ ${label} ]]*/,
          datasets: [
            {
              label: "体重",
              borderColor: "rgb(142, 0, 204)",
              lineTension: 0,
              fill: false,
              pointHoverBackgroundColor: "rgb(255, 0, 0)",
              data: /*[[ ${weight} ]]*/,
              borderWidth: 4,
            },
            {
              label: "BMI",
              borderColor: "rgb(239, 117, 188)",
              lineTension: 0,
              fill: false,
              pointHoverBackgroundColor: "rgb(255, 0, 0)",
              data: /*[[ ${bmi} ]]*/,
              borderWidth: 4,
            },
            {
              label: "標準体重",
              borderColor: "rgb(255, 94, 25)",
              lineTension: 0,
              fill: false,
              pointHoverBackgroundColor: "rgb(255, 0, 0)",
              data: /*[[ ${standardWeight} ]]*/,
              borderWidth: 4,
            }
          ]
        },
        option: {
          responsive: true,
        }
       });
       /*]]>*/
    });
  </script>
</body>
</html>