.errorMessage {
	background: #FFFF00;
	color: #000000;
	font-size: 15px;
	padding: 10px 10px 10px 10px;
	margin: 10px 200px;
	text-align: center;
	font-weight: bold;
	border: 2px #FF0000 dashed;
}

.main {
	margin: 20px;
	padding: 20px;
	font-family: 'Open Sans', sans-serif;
}
