/************/
/* fort.css */
/************/
@charset "UTF-8";

.colors {
  width: 80%;
  height: 3px;
}

progress {
  padding: 10px;
  margin: auto;
  transition-duration: 0.3s;
  width: 80%;
  height: 28px;
  color: #32cd32;
}

.progress {
  padding: 10px;
  margin: 10px;
}