<!-- 健康情報登録API概要モーダルの設定 -->
<div class="modal fade" id="apiRegistGeneralModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">健康情報登録APIについて</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button><!-- /.close -->
      </div><!-- /.modal-header -->
      <div class="modal-body">
        <label>以下のHTTPヘッダを設定したHTTPリクエストより、ユーザの健康情報を登録する</label>
        <table class="table table-hover">
          <tr>
            <th scope="row">Content-Type</th>
            <td>application/json</td>
          </tr>
          <tr>
            <th scope="row">Accept-Charset</th>
            <td>utf-8</td>
          </tr>
        </table><!-- /.table table-hover table-striped -->
        <label>エンドポイントURL</label>
        <br>
        <p>/ha-api/healthInforegist</p>
      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->