<div class="footer">
  <!-- <br> -->
  <!--/* table部ここから */-->
  <div th:if="${session[seqUserId]} != null">
    <!--/* ログイン状態の場合のみ表示 */-->
    <ul class="footer-submenu">
      <li>
        <a class="link" th:href="@{/login/top}">
          <img th:src="@{/resources/image/icon_home_green.png}" title="hitogata">
        </a>
      </li>
      <li>
        <a class="link" th:href="@{/news/list}">
          <img th:src="@{/resources/image/icon_notice_green.png}" title="hitogata">
        </a>
      </li>
    </ul><!-- /.footer-submenu -->
  </div>
  <!--/* table部ここまで */-->
  <p class="zero-padding-margin" align="center" th:text="'---&nbsp;' + #{healthInfoAppName} + '&nbsp;---'"></p>
  <div class="sub-footer">
    <p class="zero-padding-margin" align="left" th:text="'&nbsp;&nbsp;&copy;' +${#dates.format(#dates.createNow(), 'yyyy')} + '&nbsp;HealthInfo App'"></p>
    <p class="zero-padding-margin" align="right" th:text="'version&nbsp;' + #{appVersion} + '&nbsp;&nbsp;'"></p>
  </div><!-- /.sub-footer -->
</div><!-- /.footer fixed-bottom -->
