<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
<div class="footer">
  <br>
  <!--/* table部ここから */-->
  <div class="table" th:if="${session[userId]} != null">
    <!--/* ログイン状態の場合のみ表示 */-->
    <ul class="footer-submenu">
      <li><a class="link" href="../login/top" th:href="@{/login/top}">home</a></li>
      <li><a class="link" href="../news/list" th:href="@{/news/list}">news</a></li>
    </ul>
  </div>
  <!--/* table部ここまで */-->
  <p align="center" th:text="'---&nbsp;' + #{healthInfoAppName} + '&nbsp;---'"></p>
  <br>
  <div class="sub-footer">
    <p align="left" th:text="'&nbsp;&nbsp;&copy;' +${#dates.format(#dates.createNow(), 'yyyy')} + '&nbsp;HealthInfo App'"></p>
    <p align="right" th:text="'version&nbsp;' + #{appVersion} + '&nbsp;&nbsp;'"></p>
  </div>
</div>
<div id="page_top"><a href="#"></a></div>
