<div class="header">
  <!-- ヘッダ部 -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <h1 id="appTitle" class="appTitle col-sm-3 text-nowrap text-muted" th:text="#{healthInfoAppName}"></h1>
    <div class="collapse navbar-collapse justify-content-end">
      <img th:src="@{/resources/image/icon_people.png}" th:if="${session[seqUserId]} != null" alt="hitogata"  title="hitogata">
      <ul class="navbar-nav">
        <li class="nav-item link text-muted" th:if="${session[seqUserId]} != null" th:text="${'ユーザID&nbsp;:&nbsp;' + session[seqUserId]}"></li>
      </ul><!-- /.navbar-nav -->
    </div><!-- /.collapse navbar-collapse justify-content-end -->
  </nav><!-- /.navbar navbar-expand-sm navbar-dark bg-dark -->

  <!-- ナビゲーションバー部 -->
  <ul id="dropmenu" th:if="${session[seqUserId]} != null">
    <li><a href="#">MENU</a>
      <ul>
        <li><a href="#">健康情報</a>
          <ul>
            <li><a th:href="@{/healthinfo/input}">入力</a></li>
            <li><a th:href="@{/healthinfofile/input}">一括</a></li>
            <li><a th:href="@{/healthinforeference/index}">照会</a></li>
          </ul>
        </li>
        <li><a href="#">アカウント</a>
          <ul>
            <li><a th:href="@{/accountsetting/input}">設定変更</a></li>
          </ul>
        </li>
        <li><a href="#">カロリー</a>
          <ul>
            <li><a th:href="@{/caloriecalc/index}">計算</a></li>
          </ul>
        </li>
        <li><a href="#">肺活量</a>
          <ul>
            <li><a th:href="@{/breathingcapacity/index}">計算</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="#">API</a>
      <ul>
        <li><a href="#">健康情報登録</a>
          <ul>
            <li><a data-toggle="modal" href="#apiRegistGeneralModal">概要</a></li>
            <li><a data-toggle="modal" href="#apiRegistRequestModal">リクエスト</a></li>
            <li><a data-toggle="modal" href="#apiRegistResponseModal">レスポンス</a></li>
          </ul>
        </li>
        <li><a href="#">健康情報照会</a>
          <ul>
            <li><a data-toggle="modal" href="#apiReferenceGeneralModal">概要</a></li>
            <li><a data-toggle="modal" href="#apiReferenceRequestModal">リクエスト</a></li>
            <li><a data-toggle="modal" href="#apiReferenceResponseModal">レスポンス</a></li>
          </ul>
        </li>
        <li><a href="#">ヘルスチェック</a>
          <ul>
            <li><a data-toggle="modal" href="#apiHealthCheckGeneralModal">概要</a></li>
            <li><a data-toggle="modal" href="#apiHealthCheckRequestModal">リクエスト</a></li>
            <li><a data-toggle="modal" href="#apiHealthCheckResponseModal">レスポンス</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="#">その他</a>
      <ul>
        <li><a href="#">健康情報</a>
          <ul>
            <li><a data-toggle="modal" href="#bmiModal">BMI</a></li>
            <li><a data-toggle="modal" href="#standardWeightModal">標準体重</a></li>
            <li><a data-toggle="modal" href="#baseMetabolismModal">基礎代謝量</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a th:href="@{/logout}">ログアウト</a></li>
  </ul><!-- /#dropmenu -->
</div><!-- /.header -->

<!-- 健康情報登録API概要モーダル -->
<div th:replace="~{./layout/api-regist-general-modal.html}"></div>
<!-- 健康情報登録APIリクエストモーダル -->
<div th:replace="~{./layout/api-regist-request-modal.html}"></div>
<!-- 健康情報登録APIレスポンスモーダル -->
<div th:replace="~{./layout/api-regist-response-modal.html}"></div>

<!-- 健康情報照会API概要モーダル -->
<div th:replace="~{./layout/api-reference-general-modal.html}"></div>
<!-- 健康情報照会APIリクエストモーダル -->
<div th:replace="~{./layout/api-reference-request-modal.html}"></div>
<!-- 健康情報照会APIレスポンスモーダル -->
<div th:replace="~{./layout/api-reference-response-modal.html}"></div>

<!-- ヘルスチェックAPI概要モーダル -->
<div th:replace="~{./layout/api-health-check-general-modal.html}"></div>
<!-- ヘルスチェックAPIリクエストモーダル -->
<div th:replace="~{./layout/api-health-check-request-modal.html}"></div>
<!-- ヘルスチェックAPIレスポンスモーダル -->
<div th:replace="~{./layout/api-health-check-response-modal.html}"></div>

<!-- BMIモーダル -->
<div th:replace="~{./layout/bmi-modal.html}"></div>
<!-- 標準体重モーダル -->
<div th:replace="~{./layout/standardweight-modal.html}"></div>
<!-- 基礎代謝量モーダル -->
<div th:replace="~{./layout/basemetabolism-modal.html}"></div>

