<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head_fragment(title, scripts, links)">
<meta charset="UTF-8">
<title th:text="${title}"></title>
<link rel="icon" href="../resources/image/favicon.png" th:href="@{/resources/image/favicon.png}">
<!-- 共通CSS -->
<link rel="stylesheet" href="../resources/css/lib/bootstrap.css" th:href="@{/resources/css/lib/bootstrap.min.css}">
<link rel="stylesheet" href="../resources/css/lib/bootstrap-grid.css" th:href="@{/resources/css/lib/bootstrap-grid.min.css}">
<link rel="stylesheet" href="../resources/css/layout.css" th:href="@{/resources/css/layout.min.css}">
<link rel="stylesheet" href="../resources/css/navigation.css" th:href="@{/resources/css/navigation.min.css}">
<link rel="stylesheet" href="../resources/css/lib/validationEngine.jquery.css" th:href="@{/resources/css/lib/validationEngine.jquery.min.css}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
<!-- 個別CSS -->
<th:block th:replace="${links}" />
<!-- 共通JavaScript -->
<script src="../resources/js/lib/jquery.js" th:src="@{/resources/js/lib/jquery.min.js}"></script>
<script src="../resources/js/lib/jquery.validationEngine-ja.js" th:src="@{/resources/js/lib/jquery.validationEngine-ja.min.js}"></script>
<script src="../resources/js/lib/jquery.validationEngine.js" th:src="@{/resources/js/lib/jquery.validationEngine.min.js}"></script>
<script src="../resources/js/lib/bootstrap.js" th:src="@{/resources/js/lib/bootstrap.min.js}"></script>
<script src="../resources/js/lib/bootstrap.bundle.js" th:src="@{/resources/js/lib/bootstrap.bundle.min.js}"></script>
<script src="../resources/js/common/common.js" th:src="@{/resources/js/common/common.min.js}"></script>
<!-- 個別JavaScript -->
<!-- <th:block th:replace="${scripts}" /> -->
</head>
<body class="body-main">

  <header th:fragment="~{layout/header :: header}">
    <div th:replace="layout/header.html"></div>
  </header>

  <div layout:fragment="contents"></div>

  <footer th:fragment="~{layout/footer :: footer">
    <div th:replace="layout/footer.html"></div>
  </footer>

</body>
</html>