<!-- 標準体重モーダルの設定 -->
<div class="modal fade" id="standardWeightModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">標準体重について</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div><!-- /.modal-header -->
      <div class="modal-body">
        <p>以下の計算式で標準体重を計算しています。</p>
        <div align="center">
            <label>身長(m) × 身長(m) × 22</label>
        </div>
        <label>165cmの人の場合</label>
        <div align="center">
          <label>1.65(m) × 1.65(m) × 22 = 59.895</label>
        </div>
      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->