<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  th:fragment="layout (title,body,css)">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:replace="${title}">健康管理アプリ</title>
<link rel="icon" th:href="@{/resources/image/favicon.png}">
<!-- 共通CSS -->
<link rel="stylesheet" th:href="@{/resources/css/lib/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/resources/css/lib/bootstrap-grid.min.css}">
<link rel="stylesheet" th:href="@{/resources/css/layout.min.css}">
<link rel="stylesheet" th:href="@{/resources/css/navigation.min.css}">
<link rel="stylesheet" th:href="@{/resources/css/lib/validationEngine.jquery.min.css}">
<link rel="stylesheet" th:href="@{/resources/css/lib/jquery-ui.min.css}">
<link rel="stylesheet" th:href="@{/resources/css/lib/chart.min.css}">
<link rel="stylesheet" th:href="@{/resources/css/sort.min.css}">
<link rel="stylesheet" th:href="@{/resources/css/lib/mprogress.min.css}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
<!-- 個別CSS -->
<link th:replace="${css}" />
<!-- 共通JavaScript -->
<script th:src="@{/resources/js/lib/jquery.min.js}"></script>
<script th:src="@{/resources/js/lib/jquery.validationEngine-ja.min.js}"></script>
<script th:src="@{/resources/js/lib/jquery.validationEngine.min.js}"></script>
<script th:src="@{/resources/js/lib/bootstrap.min.js}"></script>
<script th:src="@{/resources/js/lib/bootstrap.bundle.min.js}"></script>
<script th:src="@{/resources/js/lib/jquery-ui.min.js}"></script>
<script th:src="@{/resources/js/lib/datepicker-ja.min.js}"></script>
<script th:src="@{/resources/js/lib/chart.min.js}"></script>
<script th:src="@{/resources/js/lib/mprogress.min.js}"></script>
<script th:src="@{/resources/js/common/common.min.js}"></script>
</head>
<body>
  <div class="wrap" th:classappend="${session[seqUserId] != null} ? login-wrap">
    <div th:replace="layout/header.html"></div>
    <br><br><br><br><br>

    <nav aria-label="パンくずリスト" th:if="${breadcrumbList != null && breadcrumbList.size() != 0}">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page" th:each="breadcrumb, status : ${breadcrumbList}" th:object="${breadcrumb}">
          <!-- 現在のページでない場合 -->
          <a th:href="@{*{url}}" th:text="*{viewName}" th:if="*{!isCurrent}"></a>
          <!-- 現在のページである場合 -->
          <span th:href="@{*{url}}" th:text="*{viewName}" th:if="*{isCurrent}"></span>
        </li><!-- /.breadcrumb-item active -->
      </ol><!-- /.breadcrumb -->
    </nav>

    <div th:replace="${body}"></div>
    <div class="push"></div>
  </div><!-- /.wrap -->

  <div th:replace="layout/footer.html"></div>

</body>
</html>