<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.ha.db.mapper.composite.CompositeAccountMapper">
  <resultMap id="BaseResultMap" type="jp.co.ha.db.entity.composite.CompositeAccount">
    <id column="SEQ_USER_ID" jdbcType="BIGINT" property="seqUserId" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="DELETE_FLAG" jdbcType="VARCHAR" property="deleteFlag" />
    <result column="PASSWORD_EXPIRE" jdbcType="DATE" property="passwordExpire" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="API_KEY" jdbcType="VARCHAR" property="apiKey" />
    <result column="REG_DATE" jdbcType="TIMESTAMP" property="regDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="MAIL_ADDRESS" jdbcType="VARCHAR" property="mailAddress" />
    <result column="HEADER_FLAG" jdbcType="VARCHAR" property="headerFlag" />
    <result column="FOOTER_FLAG" jdbcType="VARCHAR" property="footerFlag" />
    <result column="MASK_FLAG" jdbcType="VARCHAR" property="maskFlag" />
    <result column="ENCLOSURE_CHAR_FLAG" jdbcType="VARCHAR" property="enclosureCharFlag" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="jp.co.ha.db.entity.composite.CompositeAccountKey" resultMap="BaseResultMap">
    SELECT
      <!-- ACCOUNT -->
      AC.SEQ_USER_ID
      , AC.PASSWORD
      , AC.DELETE_FLAG
      , AC.PASSWORD_EXPIRE
      , AC.REMARKS
      , AC.API_KEY
      , AC.MAIL_ADDRESS
      , AC.REG_DATE
      , AC.UPDATE_DATE
      <!-- HEALTH_INFO_FILE_SETTING -->
      , HF.HEADER_FLAG
      , HF.FOOTER_FLAG
      , HF.MASK_FLAG
      , HF.ENCLOSURE_CHAR_FLAG
    FROM
      ACCOUNT AC
      LEFT OUTER JOIN HEALTH_INFO_FILE_SETTING HF
        ON AC.SEQ_USER_ID = HF.SEQ_USER_ID
    WHERE
      AC.SEQ_USER_ID = #{seqUserId,jdbcType=BIGINT}
  </select>

  <select id="selectAll" parameterType="jp.co.ha.db.entity.AccountExample" resultMap="BaseResultMap">
    SELECT
      <!-- ACCOUNT -->
      AC.SEQ_USER_ID
      , AC.PASSWORD
      , AC.DELETE_FLAG
      , AC.PASSWORD_EXPIRE
      , AC.REMARKS
      , AC.API_KEY
      , AC.MAIL_ADDRESS
      , AC.REG_DATE
      , AC.UPDATE_DATE
      <!-- HEALTH_INFO_FILE_SETTING -->
      , HF.HEADER_FLAG
      , HF.FOOTER_FLAG
      , HF.MASK_FLAG
      , HF.ENCLOSURE_CHAR_FLAG
    FROM
      ACCOUNT AC
      LEFT OUTER JOIN HEALTH_INFO_FILE_SETTING HF
        ON AC.SEQ_USER_ID = HF.SEQ_USER_ID
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>