<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.ha.db.mapper.custom.CompositeMonthlyMapper">
  <resultMap id="BaseResultMap" type="jp.co.ha.db.entity.custom.CompositeMonthlyRegData">
    <result column="COUNT" jdbcType="INTEGER" property="count" />
    <result column="DATE" jdbcType="TIMESTAMP" property="date" />
  </resultMap>

  <select id="selectByHealthInfoRegDate" resultMap="BaseResultMap">
    SELECT
      DISTINCT DATE_FORMAT(HI.HEALTH_INFO_REG_DATE, '%Y-%m-%d') AS DATE,
      CNT.COUNT AS COUNT
    FROM
      HEALTH_INFO HI,
      (
        SELECT
          COUNT(HEALTH_INFO_REG_DATE) AS COUNT,
          DATE_FORMAT(HEALTH_INFO_REG_DATE, '%Y%m%d') AS REG_DATE
        FROM
          HEALTH_INFO
        GROUP BY
          DATE_FORMAT(HEALTH_INFO_REG_DATE, '%Y%m%d')
      ) AS CNT
    WHERE
      HI.HEALTH_INFO_REG_DATE BETWEEN #{from,jdbcType=TIMESTAMP} AND #{to,jdbcType=TIMESTAMP}
      AND DATE_FORMAT(CNT.REG_DATE, '%Y%m%d') = DATE_FORMAT(HI.HEALTH_INFO_REG_DATE, '%Y%m%d')
    ORDER BY
      DATE_FORMAT(HI.HEALTH_INFO_REG_DATE, '%Y-%m-%d');
  </select>

  <select id="selectUserByRegDate" resultMap="BaseResultMap">
    SELECT
      DISTINCT DATE_FORMAT(U.REG_DATE, '%Y-%m-%d') AS DATE,
      CNT.COUNT AS COUNT
    FROM
      USER U,
      (
        SELECT
          COUNT(REG_DATE) AS COUNT,
          DATE_FORMAT(REG_DATE, '%Y%m%d') AS REG_DATE
        FROM
          USER
        GROUP BY
          DATE_FORMAT(REG_DATE, '%Y%m%d')
      ) AS CNT
    WHERE
      U.REG_DATE BETWEEN #{from,jdbcType=TIMESTAMP} AND #{to,jdbcType=TIMESTAMP}
      AND DATE_FORMAT(CNT.REG_DATE, '%Y%m%d') = DATE_FORMAT(U.REG_DATE, '%Y%m%d')
    ORDER BY
      DATE_FORMAT(U.REG_DATE, '%Y-%m-%d');
  </select>

</mapper>