<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.ha.db.mapper.custom.CompositeInquriyMapper">
  <resultMap id="BaseResultMap" type="jp.co.ha.db.entity.custom.CompositeInquiry">
    <id column="SEQ_INQUIRY_MNG_ID" jdbcType="BIGINT" property="seqInquiryMngId" />
    <result column="SEQ_USER_ID" jdbcType="BIGINT" property="seqUserId" />
    <result column="RESPONDER_LOGIN_ID" jdbcType="BIGINT" property="responderLoginId" />
    <result column="INQUIRY_STATUS" jdbcType="VARCHAR" property="inquiryStatus" />
    <result column="INQUIRY_STATUS_NAME" jdbcType="VARCHAR" property="inquiryStatusName" />
    <result column="INQUIRY_TYPE" jdbcType="VARCHAR" property="inquiryType" />
    <result column="INQUIRY_TYPE_NAME" jdbcType="VARCHAR" property="inquiryTypeName" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="S3_KEY" jdbcType="VARCHAR" property="s3Key" />
    <result column="REG_DATE" jdbcType="TIMESTAMP" property="regDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>

  <select id="selectAll" parameterType="jp.co.ha.db.entity.InquiryManagementExample" resultMap="BaseResultMap">
    SELECT
      IM.SEQ_INQUIRY_MNG_ID
      , IM.SEQ_USER_ID
      , IM.RESPONDER_LOGIN_ID
      , IM.INQUIRY_STATUS AS INQUIRY_STATUS
      , SM.NAME AS INQUIRY_STATUS_NAME
      , IM.INQUIRY_TYPE AS INQUIRY_TYPE
      , TM.NAME AS INQUIRY_TYPE_NAME
      , IM.TITLE
      , IM.S3_KEY
      , IM.REG_DATE
      , IM.UPDATE_DATE 
    FROM
      INQUIRY_MANAGEMENT IM 
      LEFT OUTER JOIN INQUIRY_STATUS_MT SM 
        ON IM.INQUIRY_STATUS = SM.INQUIRY_STATUS 
        AND SM.DELETE_FLAG = FALSE 
      LEFT OUTER JOIN INQUIRY_TYPE_MT TM 
        ON IM.INQUIRY_TYPE = TM.INQUIRY_TYPE 
        AND TM.DELETE_FLAG = FALSE 
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>