<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.ha.db.mapper.custom.CompositeRootUserInfoMapper">
  <resultMap id="BaseResultMap" type="jp.co.ha.db.entity.custom.CompositeRootUserInfo">
    <id column="SEQ_ROOT_LOGIN_INFO_ID" jdbcType="BIGINT" property="seqRootLoginInfoId" />
    <result column="SEQ_ROOT_USER_ROLE_MNG_MT_ID" jdbcType="BIGINT" property="seqRootUserRoleMngMtId" />
    <result column="SEQ_ROOT_USER_ROLE_DETAIL_MT_ID" jdbcType="BIGINT" property="seqRootUserRoleDetailMtId" />
    <result column="DELETE_FLAG" jdbcType="BIT" property="deleteFlag" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="PASSWORD_EXPIRE" jdbcType="DATE" property="passwordExpire" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
    <result column="ROLE" jdbcType="VARCHAR" property="role" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="REG_DATE" jdbcType="TIMESTAMP" property="regDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>

  <select id="selectBySeqRootLoginInfoId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT
      LI.SEQ_ROOT_LOGIN_INFO_ID
      , URM.SEQ_ROOT_USER_ROLE_MNG_MT_ID
      , URD.SEQ_ROOT_USER_ROLE_DETAIL_MT_ID
      , LI.DELETE_FLAG
      , LI.PASSWORD
      , LI.PASSWORD_EXPIRE
      , LI.REMARKS
      , LI.REG_DATE
      , LI.UPDATE_DATE
      , RM.ROLE_NAME
      , RM.ROLE
    FROM
      ROOT_LOGIN_INFO LI
      , ROOT_USER_ROLE_MNG_MT URM
      , ROOT_USER_ROLE_DETAIL_MT URD
      , ROOT_ROLE_MT RM
    WHERE
      URM.SEQ_ROOT_USER_ROLE_MNG_MT_ID = LI.SEQ_ROOT_USER_ROLE_MNG_MT_ID
      AND URD.SEQ_ROOT_USER_ROLE_MNG_MT_ID = URM.SEQ_ROOT_USER_ROLE_MNG_MT_ID
      AND URD.SEQ_ROOT_ROLE_MT_ID = RM.SEQ_ROOT_ROLE_MT_ID
      AND LI.SEQ_ROOT_LOGIN_INFO_ID = #{seqRootLoginInfoId,jdbcType=BIGINT}
    ORDER BY
      RM.SEQ_ROOT_ROLE_MT_ID
  </select>

</mapper>