<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>健康アプリ_アカウント設定完了画面</title>
<link rel="icon" type="image/png" href="resources/image/people.png">
<link rel="stylesheet" type="text/css" href="resources/css/layout.css">
<link rel="stylesheet" type="text/css" href="resources/css/input.css">
<link rel="stylesheet" type="text/css" href="resources/css/navigation.css">
<link rel="stylesheet" type="text/css" href="resources/css/menuicon.css">
<link rel="stylesheet" type="text/css" href="resources/css/common/headericon.css">
<link rel="stylesheet" type="text/css" href="resources/css/table.css">
<script type="text/javascript" src="resources/js/common/common.js"></script>
</head>

<body class="main">

	<h1 class="title">
		<img class="headericon" alt="確認" src="resources/image/icon_confirm.png">
		アカウント設定完了画面
	</h1>


	<hr>
	<div th:include="common/navigation.html"></div>

	<br><br>

	<!-- 完了画面 -->
	<div align="center">
		<p>完了しました</p>
		<br><br>
		<table>
			<tr>
				<td align="center">
					<!-- メニュー画面へ -->
					<form action="/isol-web/menu.html" method="get">
						<div>
							<input class="menuicon" type="image" src="resources/image/icon_menu.jpg">
						</div>
					</form>
				</td>
			</tr>
		</table>
	</div>

	<br><br>
	<hr>
	<div th:include="common/footer.html"></div>


</body>
</html>