<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>健康アプリ_アカウント作成完了画面</title>
<link rel="icon" type="image/png" href="resources/image/people.png">
<link rel="stylesheet" type="text/css" href="resources/css/layout.css">
<link rel="stylesheet" type="text/css" href="resources/css/common/headericon.css">
<link rel="stylesheet" type="text/css" href="resources/css/input.css">
<link rel="stylesheet" type="text/css" href="resources/css/common/fort.css">
<link rel="stylesheet" type="text/css" href="resources/css/table.css">
<script type="text/javascript" src="resources/js/common/fort.js"></script>
<script type="text/javascript" src="resources/js/accountCreate.js"></script>
<script type="text/javascript" src="resources/js/common/common.js"></script>
</head>
<body>


	<h1>
		<img class="headericon" alt="確認" src="resources/image/icon_confirm.png">
		アカウント作成完了画面
	</h1>

	<hr>
	<br><br>

	<!-- 完了画面 -->
	<div align="center">
		<p>完了しました</p>
		<br><br>
		<table>
			<tr>
				<td align="center">
					<form action="/isol-web/login.html" method="get">
						<input type="submit" value="ログイン画面"/>
					</form>
				</td>
			</tr>
		</table>
	</div>

	<br><br>
	<hr>
	<div th:include="common/footer.html"></div>

</body>
</html>