<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>健康アプリ_アカウント作成確認画面</title>
<link rel="icon" type="image/png" href="resources/image/people.png">
<link rel="stylesheet" type="text/css" href="resources/css/layout.css">
<link rel="stylesheet" type="text/css" href="resources/css/common/headericon.css">
<link rel="stylesheet" type="text/css" href="resources/css/input.css">
<link rel="stylesheet" type="text/css" href="resources/css/common/fort.css">
<link rel="stylesheet" type="text/css" href="resources/css/table.css">
<script type="text/javascript" src="resources/js/common/fort.js"></script>
<script type="text/javascript" src="resources/js/accountCreate.js"></script>
<script type="text/javascript" src="resources/js/common/common.js"></script>
</head>
<body>


	<h1>
		<img class="headericon" alt="確認" src="resources/image/icon_confirm.png">
		アカウント作成確認画面
	</h1>

	<hr>
	<br><br>

	<!-- 確認画面 -->
	<form action="/isol-web/account-create-complete.html" method="post">
	<div align="center">
		<table border="1">
			<tr>
				<th class="header" width="130px">
					<p>ユーザID</p>
				</th>
				<td class="data" width="250px">
					<input type="text" name="userId" maxlength="16" required="required" th:field="${form.userId}" readonly="readonly" />
				</td>
			</tr>
			<tr>
				<th class="header" width="130px">
					<p>パスワード</p>
				</th>
				<td class="data" width="250px">
					<input type="text" name="password" maxlength="16" required="required" th:field="${form.password}" readonly="readonly" />
				</td>
			</tr>
			<tr>
				<th class="header">
					<p>確認用 パスワード</p>
				</th>
				<td class="data" width="250px">
					<input type="text" name="confirmPassword" maxlength="16" required="required" th:field="${form.confirmPassword}" readonly="readonly" />
				</td>
			</tr>
			<tr>
				<th class="header">
					<p>備 考</p>
				</th>
				<td class="data">
					<textarea rows="10" cols="30" name="remarks" th:field="${form.remarks}" readonly="readonly"></textarea>
				</td>
			</tr>
		</table>
		<br><br>
		<table>
			<tr>
				<td>
					<input type="submit" value="確 定" />
				</td>
				<td>
					<p>　　</p>
				</td>
				<td>
					<input type="button" value="戻 る" onclick="history.back()">
				</td>
			</tr>
		</table>
	</div>
	</form>

	<br><br>
	<hr>
	<div th:include="common/footer.html"></div>

</body>
</html>