<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>健康アプリ_健康情報入力確認画面</title>
<link rel="icon" type="image/png" href="resources/image/people.png">
<link rel="stylesheet" type="text/css" href="resources/css/layout.css">
<link rel="stylesheet" type="text/css" href="resources/css/common/headericon.css">
<link rel="stylesheet" type="text/css" href="resources/css/menuicon.css">
<link rel="stylesheet" type="text/css" href="resources/css/navigation.css">
<link rel="stylesheet" type="text/css" href="resources/css/healthInfo.css">
<link rel="stylesheet" type="text/css" href="resources/css/input.css">
<link rel="stylesheet" type="text/css" href="resources/css/table.css">
<script type="text/javascript" src="resources/js/common/common.js"></script>
<script type="text/javascript" src="resources/js/healthInfo.js"></script>
</head>

<body class="main">

	<h1 class="title">
		<img class="headericon" alt="確認" src="resources/image/icon_confirm.png">
		健康情報入力確認画面
	</h1>

	<hr>
	<div th:include="common/navigation.html"></div>

	<!-- 確認画面 -->
	<div align="center">
	<br><br><br>
	<form action="/isol-web/healthInfo-complete.html" method="post">
		<p>身長：
		<input type="text" name="height" th:field="${form.height}" size="6" readonly>
		cm</p>
		<br>
		<p>体重：
		<input type="text" name="weight" th:field="${form.weight}" size="6" readonly>
		kg</p>
		<br><br>
		<table>
			<tr>
				<td>
					<input type="submit" value="確定">
				</td>
				<td>
					<p>　　</p>
				</td>
				<td>
					<input type="button" value="戻る" onclick="history.back()">
				</td>
			</tr>
		</table>
	</form>
	</div>
	<br><br>

	<hr>
	<div th:include="common/footer.html"></div>

</body>
</html>
