<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>健康アプリ_ファイル設定入力確認画面</title>
<link rel="icon" type="image/png" href="resources/image/people.png">
<link rel="stylesheet" type="text/css" href="resources/css/layout.css">
<link rel="stylesheet" type="text/css" href="resources/css/common/headericon.css">
<link rel="stylesheet" type="text/css" href="resources/css/input.css">
<link rel="stylesheet" type="text/css" href="resources/css/common/fort.css">
<link rel="stylesheet" type="text/css" href="resources/css/table.css">
<link rel="stylesheet" type="text/css" href="resources/css/navigation.css">
<script type="text/javascript" src="resources/js/common/jquery.min.js"></script>
<script type="text/javascript" src="resources/js/common/common.js"></script>
</head>

<body class="main">
	<h1>
		<img class="headericon" alt="入力" src="resources/image/icon_reference.png">
		ファイル設定入力確認画面
	</h1>

	<hr>
	<div th:include="common/navigation.html"></div>
	<br><br>

	<!-- 確認画面 -->
	<form action="./healthInfoFileSetting-complete.html" th:action="@{./healthInfoFileSetting-complete.html}" method="post" th:object="${healthInfoFileSettingForm}">
	<div align="center">
		<table>
			<tr>
				<th width="130px">
					<p>ユーザID</p>
				</th>
				<td width="250px">
					<input type="text" maxlength="16" required th:field="*{userId}" readonly="readonly" />
				</td>
			</tr>
			<tr>
				<th width="130px">
					<p>ヘッダ利用</p>
				</th>
				<td width="250px">
					<input type="text" required th:field="*{headerFlag}" readonly="readonly" />
				</td>
			</tr>
			<tr>
				<th>
					<p>フッタ利用</p>
				</th>
				<td width="250px">
					<input type="text" required th:field="*{footerFlag}" readonly="readonly" />
				</td>
			</tr>
			<tr>
				<th>
					<p>マスク利用</p>
				</th>
				<td width="250px">
					<input type="text" required th:field="*{maskFlag}" readonly="readonly" />
				</td>
			</tr>
			<tr>
				<th>
					<p>囲み文字利用</p>
				</th>
				<td width="250px">
					<input type="text" required th:field="*{enclosureCharFlag}" readonly="readonly" />
				</td>
			</tr>
		</table>
	</div>
	</form>

	<br><br>
	<hr>
	<div th:include="common/footer.html"></div>

</body>
</html>