<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>健康アプリ_通知設定入力確認画面</title>
<link rel="icon" type="image/png" href="resources/image/people.png">
<link rel="stylesheet" type="text/css" href="resources/css/layout.css">
<link rel="stylesheet" type="text/css" href="resources/css/common/headericon.css">
<link rel="stylesheet" type="text/css" href="resources/css/input.css">
<link rel="stylesheet" type="text/css" href="resources/css/common/fort.css">
<link rel="stylesheet" type="text/css" href="resources/css/table.css">
<link rel="stylesheet" type="text/css" href="resources/css/navigation.css">
<script type="text/javascript" src="resources/js/common/fort.js"></script>
<script type="text/javascript" src="resources/js/accountCreate.js"></script>
<script type="text/javascript" src="resources/js/common/common.js"></script>
</head>

<body class="main">
	<h1>
		<img class="headericon" alt="入力" src="resources/image/icon_reference.png">
		通知設定入力確認画面
	</h1>

	<hr>
	<div th:include="common/navigation.html"></div>
	<br><br>


	<br><br>
	<hr>
	<div th:include="common/footer.html"></div>

</body>
</html>