<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/layout :: head_fragment(title = '健康アプリ_お知らせ一覧画面', scripts = ~{::script}, links = ~{::link})">
<link rel="stylesheet" href="../resources/css/lib/validationEngine.jquery.css" th:href="@{/resources/css/lib/validationEngine.jquery.min.css}">
<link rel="stylesheet" href="../resources/css/lib/jquery-ui.css" th:href="@{/resources/css/lib/jquery-ui.min.css}">
<link rel="stylesheet" href="../resources/css/lib/chart.css" th:href="@{/resources/css/lib/chart.min.css}">
<link rel="stylesheet" href="../resources/css/sort.css" th:href="@{/resources/css/sort.css}">
<link rel="stylesheet" href="../resources/css/lib/sal.css" th:href="@{/resources/css/lib/sal.min.css}">
</head>
<body>

  <div th:replace="layout/layout :: header"></div>

  <div th:replace="./common/navigation.html"></div>

  <!--/* contentLayout部ここから */-->
  <div align="center" class="contentLayout">
    <h2 class="menuTitle">お知らせ一覧画面</h2>

    <div id="newsList" class="contentLayout">
      <table class="data">
        <tbody class="list">
          <tr class="news-item" th:class="'news-item news-toggle[' + ${news.index} + ']'" th:each="news : ${newsList}">
             <td class="news-item-date" th:text="${news.date}" />
             <td class="news-item-title" th:text="${news.title}" />
             <td class="news-item-contents" th:class="'news-item-contents news-toggle-contents[' + ${news.index} + ']'" th:utext="${news.detail}" />
          </tr>
        </tbody>
      </table>
      <div class="pager">
        <ul class="pagination"></ul>
      </div>
    </div>
  </div>
  <!--/* contentLayout部ここまで */-->

  <div th:replace="layout/layout :: footer"></div>

  <script src="../resources/js/lib/jquery-ui.js" th:src="@{/resources/js/lib/jquery-ui.min.js}"></script>
  <script src="../resources/js/lib/datepicker-ja.js" th:src="@{/resources/js/lib/datepicker-ja.min.js}"></script>
  <script src="../resources/js/lib/chart.js" th:src="@{/resources/js/lib/chart.min.js}"></script>
  <script src="../resources/js/lib/list.js" th:src="@{/resources/js/lib/list.min.js}"></script>
  <script src="../resources/js/lib/sal.js" th:src="@{/resources/js/lib/sal.min.js}"></script>
  <script th:inline="javascript">
    $(function() {

      /*<![CDATA[*/
      // ページング処理
      var systemConfig = /*[[ ${systemConfig} ]]*/;
      var options = {
        valueNames: [ "date", "title" ],
        page: systemConfig.paging,
        pagination: {
          pageationClass: "pagination",
          innerWindow: 1,
          outerWindow: 1
        }
      };
      var columnList = new List("newsList", options);
      /*]]>*/

      // お知らせのToggle設定
      $.each($("tr.news-item"), function(i, val) {
        var child = $(val).children();
        child.on("click", function() {
          $(child[2]).fadeToggle(500);
        })
      });

    });
  </script>
</body>
</html>