<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
      <!-- MyBatisが自動でBIGINT→Long型へ変換をしてくれないので、個別変換させるように修正 -->
      <typeAlias type="java.lang.Long" alias="BIGINT" />
    </typeAliases>

</configuration>