<!DOCTYPE html>
<html lang="ja"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  th:replace="~{layout/template :: layout(~{::title},~{::body/content()},~{::link})}">
<head>
<title>アカウント登録確認画面</title>
<link>
</head>
<body>

  <div class="px-4">
    <form th:action="@{/accountregist/complete}" method="post" th:object="${userRegistForm}">
      <div class="container border col-7 shadow">
        <h2 class="menuTitle">アカウント登録確認</h2>
        <table class="table">
          <tr>
            <th scope="row" th:text="#{mailAddress}"></th >
            <td th:text="*{mailAddress}"></td>
          </tr>
          <tr>
            <th scope="row" th:text="#{password}"></th >
            <td>****</td>
          </tr>
          <tr>
            <th scope="row" th:text="#{confirmPassword}"></th>
            <td>****</td>
          </tr>
          <tr>
            <th th:text="#{genderType}"></th>
            <td>
              <div th:if="*{genderType} == 0">男性</div>
              <div th:if="*{genderType} == 1">女性</div>
            </td>
          </tr>
          <tr>
            <th th:text="#{birthDate}"></th>
            <td th:text="*{birthDate}"></td>
          </tr>
          <tr>
            <th scope="row" th:text="#{remarks}"></th>
            <td th:text="*{remarks}"></td>
          </tr>
        </table><!-- ./table -->

        <!--/* ボタン部ここから */-->
        <input type="submit" class="btn btn-success w-25" value="確 定" />
        <input type="button" class="btn btn-secondary w-25" value="戻 る" onclick="history.back()" />
        <!--/* ボタン部ここまで */-->
        <br><br>
      </div><!-- /.container border col-7 shadow -->
    </form>
  </div><!-- /.px-4 -->

</body>
</html>