<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>健康アプリ_アカウント設定入力画面</title>
<link rel="icon" type="image/png" href="../resources/image/people.png">
<link rel="stylesheet" type="text/css" href="../resources/css/layout.css">
<link rel="stylesheet" type="text/css" href="../resources/css/input.css">
<link rel="stylesheet" type="text/css" href="../resources/css/navigation.css">
<link rel="stylesheet" type="text/css" href="../resources/css/menuicon.css">
<link rel="stylesheet" type="text/css" href="../resources/css/common/headericon.css">
<link rel="stylesheet" type="text/css" href="../resources/css/common/baseLayout.css">
<link rel="stylesheet" type="text/css" href="../resources/css/table.css">
</head>
<body class="main">


	<h1>
		<img class="headericon" alt="入力" src="../resources/image/icon_input.jpg">
		アカウント設定入力画面
	</h1>

	<hr>
	<div th:include="common/navigation.html"></div>

	<br><br><br>

	<!--/* 入力画面 */-->
	<form action="./confirm.html" th:action="@{./confirm.html}" method="post" th:object="${accountSettingForm}">
	<div align="center">

		<div class="errorMessage" th:if="${#fields.hasErrors('deleteFlag')}" th:errors="*{deleteFlag}"></div>
		<div class="errorMessage" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></div>
		<div class="errorMessage" th:if="${#fields.hasErrors('apiKey')}" th:errors="*{apiKey}"></div>
		<div class="errorMessage" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
		<div class="errorMessage" th:if="${#fields.hasErrors('mailAddress')}" th:errors="*{mailAddress}"></div>
		<div class="errorMessage" th:if="${#fields.hasErrors('mailPassword')}" th:errors="*{mailPassword}"></div>
		<div class="errorMessage" th:if="${#fields.hasErrors('remarks')}" th:errors="*{remarks}"></div>
		<table border="1">
			<tr>
				<th class="header" width="130px">
					<p>削除</p>
				</th>
				<td class="data" width="250px">
					<div class="radio">
						<input type="radio" th:field="*{deleteFlag}" id="deleteFlagFalse" value="0" checked="checked">
						<label for="deleteFlagFalse" class="switch-off">しない</label>
						<input type="radio" th:field="*{deleteFlag}" id="deleteFlagTrue" value="1">
						<label for="deleteFlagTrue">する</label>
					</div>
				</td>
			</tr>
			<tr>
				<th class="header">
					<p>ユーザID</p>
				</th>
				<td class="data">
					<p th:text="*{userId}"></p>
					<input type="hidden" th:field="*{userId}" th:value="${userId}" />
				</td>
			</tr>
			<tr>
				<th class="header">
					<p>パスワード</p>
				</th>
				<td class="data">
					<input type="text" th:field="*{password}" th:value="${password}" required placeholder="パスワード" />
				</td>
			</tr>
			<tr>
				<th class="header">
					<p>APIキー</p>
				</th>
				<td class="data">
					<p th:text="*{apiKey}"></p>
					<input type="hidden" th:field="*{apiKey}" th:value="${apiKey}" />
				</td>
			</tr>
			<tr>
				<th class="header" width="130px">
					<p>メールアドレス</p>
				</th>
				<td class="data">
					<input type="email" th:field="*{mailAddress}" th:value="${mailAddress}" required placeholder="メールアドレス" />
				</td>
			</tr>
			<tr>
				<th class="header" width="130px">
					<p>メールパスワード</p>
				</th>
				<td class="data">
					<input type="text" th:field="*{mailPassword}" th:value="${mailPassword}" required placeholder="メールパスワード" />
				</td>
			</tr>
			<tr>
				<th class="header">
					<p>備 考</p>
				</th>
				<td class="data">
					<textarea rows="10" cols="30" th:field="*{remarks}" placeholder="備 考">${account.remarks}</textarea>
				</td>
			</tr>
		</table>
		<br><br>
		<table>
			<tr>
				<td>
					<input type="submit" value="確 認" />
				</td>
				<td>
					<p>　　</p>
				</td>
				<td>
					<input type="reset" value="リセット" />
				</td>
			</tr>
		</table>
	</div>
	</form>

	<br><br>
	<hr>
	<div th:include="common/footer.html"></div>


	<script type="text/javascript" src="../resources/js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="../resources/js/lib/jquery.validate.min.js"></script>
	<script type="text/javascript" src="../resources/js/accountSetting.js"></script>
	<script type="text/javascript" src="../resources/js/common/common.js"></script>

</body>
</html>