<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../resources/css/common/apiReferenceRequestModal.css" th:href="@{/resources/css/common/apiReferenceRequestModal.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/table.css" th:href="@{/resources/css/table.css}">
</head>
<body>


<div id="api-reference-request-modal-content">
  <table>
    <tr>
      <th class="header">リクエストパラメータ</th>
      <th class="header">詳細</th>
    </tr>
    <tr>
      <td>リクエストタイプ<br>/requestType</td>
      <td>健康情報照会のリクエスト種別<br>"002"を固定とする</td>
    </tr>
    <tr>
      <td>健康情報ID<br>/healthInfoId</td>
      <td>健康情報を登録したときに採番される健康情報を一意に識別するID</td>
    </tr>
    <tr>
      <td>ユーザID<br>/userId</td>
      <td>健康情報アプリでユーザを一意に識別するID</td>
    </tr>
  </table>
</div>


</body>
</html>