<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../resources/css/common/apiRegistRequestModal.css" th:href="@{/resources/css/common/apiRegistRequestModal.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/table.css" th:href="@{/resources/css/table.css}">
</head>
<body>

  <div id="api-regist-request-modal-content">
    <table>
      <tr>
        <th class="header">リクエストパラメータ</th>
        <th class="header">詳細</th>
      </tr>
      <tr>
        <td>リクエストタイプ<br>/requestType
        </td>
        <td>健康情報登録のリクエスト種別<br>"001"を固定とする
        </td>
      </tr>
      <tr>
        <td>ユーザID<br>/userId
        </td>
        <td>健康情報アプリでユーザを一意に識別するID</td>
      </tr>
      <tr>
        <td>身長<br>/height
        </td>
        <td>ユーザの登録したい身長</td>
      </tr>
      <tr>
        <td>体重<br>/weight
        </td>
        <td>ユーザの登録したい体重</td>
      </tr>
    </table>
  </div>

</body>
</html>