<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../resources/css/common/apiReferenceGeneralModal.css" th:href="@{/resources/css/common/apiReferenceGeneralModal.css}">
</head>
<body>

  <div id="api-reference-general-modal-content">
    <div class="contentLayout">
      <b>API 健康情報照会</b>
      <br><br>
      <div class="contentLayout">
        <label>jsonにより指定されたデータから、ユーザの登録された健康情報の照会を行う</label>
        <br>
        <label>リクエストURL:/ha-api/healthInfoReference</label>
      </div>
    </div>
  </div>

</body>
</html>