<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../resources/css/common/apiReferenceModal.css">
<link rel="stylesheet" type="text/css" href="../resources/css/table.css">
<script type="text/javascript" src="../resources/js/lib/jquery.min.js"></script>
<script type="text/javascript" src="../resources/js/common/apiReferenceModal.js"></script>
</head>
<body>


<div id="api-reference-modal-content">
	<b>API 健康情報照会</b>
	<br>
	<br>
	<p>登録された健康情報の照会を行う</p>
	<p>以下の項目を必須として、リクエストを実施</p>
	<p>リクエストURL:/ha-api/healthInfoReference</p>
	<table>
		<tr>
			<th class="header">リクエストパラメータ</th>
			<th class="header">詳細</th>
		</tr>
		<tr>
			<td>リクエストタイプ<br>/requestId</td>
			<td>健康情報照会のリクエスト種別<br>"002"を固定とする</td>
		</tr>
		<tr>
			<td>データID<br>/dataId</td>
			<td>健康情報を登録したときに採番される健康情報を一意に識別するID</td>
		</tr>
		<tr>
			<td>ユーザID<br>/userId</td>
			<td>健康情報アプリでユーザを一意に識別するID</td>
		</tr>
	</table>
	<br>
	<table>
		<tr>
			<th class="header">レスポンスパラメータ</th>
			<th class="header">詳細</th>
		</tr>
		<tr>
			<td>結果区分<br>/result</td>
			<td>API実施時の結果区分</td>
		</tr>
		<tr>
			<td>データID<br>/dataId</td>
			<td>健康情報を登録したときに採番される健康情報を一意に識別するID</td>
		</tr>
		<tr>
			<td>身長<br>/height</td>
			<td>データIDに紐づく健康情報に登録された身長</td>
		</tr>
		<tr>
			<td>体重<br>/weight</td>
			<td>データIDに紐づく健康情報に登録された体重</td>
		</tr>
		<tr>
			<td>BMI<br>/bmi</td>
			<td>データIDに紐づく健康情報に登録されたBMI</td>
		</tr>
		<tr>
			<td>標準体重/standardWeight</td>
			<td>データIDに紐づく健康情報に登録された標準体重</td>
		</tr>
		<tr>
			<td>登録日時/regDate</td>
			<td>データIDに紐づく健康情報に登録された登録日時</td>
		</tr>
	</table>





</div>


</body>
</html>