<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../resources/css/common/apiRegistRequestModal.css" th:href="@{/resources/css/common/apiRegistRequestModal.css}">
</head>
<body>

  <div id="api-regist-request-modal-content">
    <div class="contentLayout">
      <table class="data">
        <tr class="data">
          <th class="data" colspan="2">リクエストパラメータ</th>
          <th class="data">詳細</th>
        </tr>
        <tr class="data">
          <td class="data">リクエストタイプ</td>
          <td class="data">requestType</td>
          <td class="data">健康情報登録のリクエスト種別<br>"001"を固定とする
          </td>
        </tr>
        <tr class="data">
          <td class="data">ユーザID</td>
          <td class="data">userId</td>
          <td class="data">健康情報アプリでユーザを一意に識別するID</td>
        </tr>
        <tr class="data">
          <td class="data">身長</td>
          <td class="data">height</td>
          <td class="data">ユーザの登録したい身長</td>
        </tr>
        <tr class="data">
          <td class="data">体重</td>
          <td class="data">weight</td>
          <td class="data">ユーザの登録したい体重</td>
        </tr>
      </table>
    </div>
  </div>

</body>
</html>