<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../resources/css/common/apiRegistGeneralModal.css" th:href="@{/resources/css/common/apiRegistGeneralModal.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/table.css" th:href="@{/resources/css/table.css}">
</head>
<body>

  <div id="api-regist-general-modal-content">
    <b>API 健康情報登録</b>
    <br><br>
    <p>jsonにより指定されたデータからユーザの健康情報を登録する</p>
    <p>リクエストURL:/ha-api/healthInfoRegist</p>
  </div>

</body>
</html>