<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="resources/css/common/bmiModal.css">
<link rel="stylesheet" type="text/css" href="resources/css/table.css">
<link rel="stylesheet" type="text/css" href="resources/css/common/standardWeightModal.css">
<script type="text/javascript" src="resources/js/common/jquery.min.js"></script>
<script type="text/javascript" src="resources/js/common/bmiModal.js"></script>
<script type="text/javascript" src="resources/js/common/standardWeightModal.js"></script>
</head>
<body>


<div id="bmi-modal-content">
	<p>BMIとは。。。</p>
	<p>計算式</p>
	<p>体重(kg) / 身長(m)の2剰 </p>
	<div align="center">
	<table border="1" class="custom">
		<tr>
			<th class="header">範囲</th>
			<th class="header">肥満度</th>
		</tr>
		<tr>
			<td class="data">18.5未満</td>
			<td class="data">低体重</td>
		</tr>
		<tr>
			<td class="data">18.5 ~ 25未満</td>
			<td class="data">普通体重</td>
		</tr>
		<tr>
			<td class="data">25 ~ 30未満</td>
			<td class="data">肥満(1)</td>
		</tr>
		<tr>
			<td class="data">30 ~ 35未満</td>
			<td class="data">肥満(2)</td>
		</tr>
		<tr>
			<td class="data">35 ~ 40未満</td>
			<td class="data">肥満(3)</td>
		</tr>
		<tr>
			<td class="data">40以上</td>
			<td class="data">肥満(4)</td>
		</tr>
	</table>
	</div>
	<br><br>
</div>


</body>
</html>