<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../resources/css/common/bmiModal.css" th:href="@{/resources/css/common/bmiModal.css}">
</head>
<body>


  <div id="bmi-modal-content">
    <label>BMIとは。。。</label>
    <br>
    <label>計算式</label>
    <br>
    <label>体重(kg) / 身長(m)の2剰</label>
    <br>
    <div align="center" class="contentLayout">
      <table border="1">
        <tr>
          <th><label>範囲</label></th>
          <th><label>肥満度</label></th>
        </tr>
        <tr>
          <td><label>18.5未満</label></td>
          <td><label>低体重</label></td>
        </tr>
        <tr>
          <td><label>18.5 ~ 25未満</label></td>
          <td><label>普通体重</label></td>
        </tr>
        <tr>
          <td><label>25 ~ 30未満</label></td>
          <td><label>肥満(1)</label></td>
        </tr>
        <tr>
          <td><label>30 ~ 35未満</label></td>
          <td><label>肥満(2)</label></td>
        </tr>
        <tr>
          <td><label>35 ~ 40未満</label></td>
          <td><label>肥満(3)</label></td>
        </tr>
        <tr>
          <td><label>40以上</label></td>
          <td><label>肥満(4)</label></td>
        </tr>
      </table>
    </div>
  </div>

</body>
</html>