<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../resources/css/common/bmiModal.css" th:href="@{/resources/css/common/bmiModal.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/table.css" th:href="@{/resources/css/table.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/common/standardWeightModal.css" th:href="@{/resources/css/common/standardWeightModal.css}">
</head>
<body>


	<ul id="dropmenu">
		<li><a class="navigation" href="#">MENU</a>
			<ul>
				<li><a class="navigation" href="#">健康情報</a>
					<ul>
						<li><a class="navigation" href="../healthInfo/input.html" th:href="@{/healthInfo/input.html}">入力</a></li>
						<li><a class="navigation" href="../healthInfoFile/input.html" th:href="@{/healthInfoFile/input.html}">一括</a></li>
						<li><a class="navigation" href="../healthInfoReference/index.html" th:href="@{/healthInfoReference/index.html}">照会</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li><a class="navigation" href="#">設定</a>
			<ul>
				<li><a class="navigation" href="#">アカウント</a>
					<ul>
						<li><a class="navigation" href="../accountSetting/input.html" th:href="@{/accountSetting/input.html}">設定変更</a></li>
					</ul>
				</li>
				<li><a class="navigation" href="#">健康情報</a>
					<ul>
						<li><a class="navigation" href="../healthInfoFileSetting/input.html" th:href="@{/healthInfoFileSetting/input.html}">設定変更</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li><a class="navigation" href="#">API</a>
			<ul>
				<li><a class="navigation" href="#">健康情報</a>
					<ul>
						<li><a id="api-regist-modal-open" class="api-regist-button-link">登録</a></li>
						<li><a id="api-reference-modal-open" class="api-reference-button-link">照会</a></li>
					</ul>
				</li>
				<li><a class="navigation" href="#">健康情報登録</a>
					<ul>
						<li><a id="api-regist-general-modal-open" class="api-regist-general-button-link">概要</a></li>
						<li><a id="api-regist-request-modal-open" class="api-regist-request-button-link">リクエスト</a></li>
						<li><a id="api-regist-response-modal-open" class="api-regist-response-button-link">レスポンス</a></li>
					</ul>
				</li>
				<li><a class="navigation" href="#">健康情報照会</a>
					<ul>
						<li><a id="api-reference-general-modal-open" class="api-reference-general-button-link">概要</a></li>
						<li><a id="api-reference-request-modal-open" class="api-reference-request-button-link">リクエスト</a></li>
						<li><a id="api-reference-response-modal-open" class="api-reference-response-button-link">レスポンス</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li><a class="navigation" href="#">その他</a>
			<ul>
				<li><a class="navigation" href="#">健康情報</a>
					<ul>
						<li><a id="bmi-modal-open" class="bmi-button-link">BMI</a></li>
						<li><a id="standardWeight-modal-open" class="standardWeight-button-link">標準体重</a></li>
					</ul>
				</li>
				<li><a class="navigation" href="#">規約</a>
					<ul>
						<li><a id="service-modal-open" class="service-button-link">利用規約</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li><a class="navigation" href="../login/index.html" th:href="@{/login/index.html}">ログアウト</a></li>
	</ul>


<!-- BMIのモーダルを描画 -->
<div th:replace="./common/bmiModal.html"></div>


<!-- 標準体重のモーダルを描画 -->
<div th:replace="./common/standardWeightModal.html"></div>


<!-- APIリファレンス-健康情報登録のモーダルを描画 -->
<div th:replace="./common/apiRegistModal.html"></div>

<!-- APIリファレンス-健康情報登録の概要モーダルを描画 -->
<div th:replace="./common/apiRegistGeneralModal.html"></div>

<!-- APIリファレンス-健康情報登録のリクエスト情報モーダルを描画 -->
<div th:replace="./common/apiRegistRequestModal.html"></div>

<!-- APIリファレンス-健康情報登録のリクエスト情報モーダルを描画 -->
<div th:replace="./common/apiRegistResponseModal.html"></div>



<!-- APIリファレンス-健康情報照会のモーダルを描画 -->
<div th:replace="./common/apiReferenceModal.html"></div>


<!-- 利用規約のモーダルを描画 -->
<div th:replace="./common/serviceModal.html"></div>

<script type="text/javascript" src="../resources/js/lib/jquery.min.js" th:src="@{/resources/js/lib/jquery.min.js}"></script>
<script type="text/javascript" src="../resources/js/common/bmiModal.min.js" th:src="@{/resources/js/common/bmiModal.min.js}"></script>
<script type="text/javascript" src="../resources/js/common/standardWeightModal.min.js" th:src="@{/resources/js/common/standardWeightModal.min.js}"></script>
<script type="text/javascript" src="../resources/js/common/apiReferenceModal.min.js" th:src="@{/resources/js/common/apiReferenceModal.min.js}"></script>
<script type="text/javascript" src="../resources/js/common/apiRegistModal.min.js" th:src="@{/resources/js/common/apiRegistModal.min.js}"></script>
<script type="text/javascript" src="../resources/js/common/apiRegistGeneralModal.js" th:src="@{/resources/js/common/apiRegistGeneralModal.js}"></script>
<script type="text/javascript" src="../resources/js/common/apiRegistRequestModal.js" th:src="@{/resources/js/common/apiRegistRequestModal.js}"></script>
<script type="text/javascript" src="../resources/js/common/apiRegistResponseModal.js" th:src="@{/resources/js/common/apiRegistResponseModal.js}"></script>
<script type="text/javascript" src="../resources/js/common/serviceModal.min.js" th:src="@{/resources/js/common/serviceModal.min.js}"></script>

</body>
</html>