<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../resources/css/common/bmiModal.css">
<link rel="stylesheet" type="text/css" href="../resources/css/table.css">
<link rel="stylesheet" type="text/css" href="../resources/css/common/standardWeightModal.css">
<script type="text/javascript" src="../resources/js/lib/jquery.min.js"></script>
<script type="text/javascript" src="../resources/js/common/bmiModal.js"></script>
<script type="text/javascript" src="../resources/js/common/standardWeightModal.js"></script>
</head>
<body>


	<ul id="dropmenu">
		<li><a class="navigation" href="#">MENU</a>
			<ul>
				<li><a class="navigation" href="#">健康情報</a>
					<ul>
						<li><a class="navigation" href="../healthInfo/input.html">入力</a></li>
						<li><a class="navigation" href="../healthInfoFile/input.html">一括</a></li>
						<li><a class="navigation" href="../healthInfoReference/reference.html">照会</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li><a class="navigation" href="#">設定</a>
			<ul>
				<li><a class="navigation" href="#">アカウント</a>
					<ul>
						<li><a class="navigation" href="../accountSetting/input.html">設定変更</a></li>
					</ul>
				</li>
				<li><a class="navigation" href="#">健康情報</a>
					<ul>
						<li><a class="navigation" href="../healthInfoFileSetting/input.html">設定変更</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li><a class="navigation" href="#">API</a>
			<ul>
				<li><a class="navigation" href="#">健康情報</a>
					<ul>
						<li><a id="api-regist-modal-open" class="api-regist-button-link">登録</a></li>
						<li><a id="api-reference-modal-open" class="api-reference-button-link">照会</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li><a class="navigation" href="#">その他</a>
			<ul>
				<li><a class="navigation" href="#">健康情報</a>
					<ul>
						<li><a id="bmi-modal-open" class="bmi-button-link">BMI</a></li>
						<li><a id="standardWeight-modal-open" class="standardWeight-button-link">標準体重</a></li>
					</ul>
				</li>
				<li><a class="navigation" href="#">規約</a>
					<ul>
						<li><a id="service-modal-open" class="service-button-link">利用規約</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li><a class="navigation" href="../login/index.html">ログアウト</a></li>
	</ul>


<!-- BMIのモーダルを描画 -->
<div th:include="./common/bmiModal.html"></div>


<!-- 標準体重のモーダルを描画 -->
<div th:include="./common/standardWeightModal.html"></div>


<!-- APIリファレンス-健康情報登録のモーダルを描画 -->
<div th:include="./common/apiRegistModal.html"></div>


<!-- APIリファレンス-健康情報照会のモーダルを描画 -->
<div th:include="./common/apiReferenceModal.html"></div>


<!-- 利用規約のモーダルを描画 -->
<div th:include="./common/serviceModal.html"></div>


</body>
</html>