<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../resources/css/common/serviceModal.css" th:href="@{/resources/css/common/serviceModal.css}">
<link rel="stylesheet" type="text/css" href="../resources/css/table.css" th:href="@{/resources/css/table.css}">
</head>
<body>


<div id="service-modal-content">
  <b>利用規約</b>
  <br>
  <br>
  <p>計算方法は以下を参照下さい</p>
  <p>その他 -> 健康情報 -> BMI, 標準体重</p>
</div>


<!--
<script type="text/javascript" src="../resources/js/lib/jquery.min.js" th:src="@{/resources/js/lib/jquery.min.js}"></script>
<script type="text/javascript" src="../resources/js/common/serviceModal.min.js" th:src="@{/resources/js/common/serviceModal.min.js}"></script>
 -->
</body>
</html>