<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>

  <div id="standardWeight-modal-content">
    <div class="contentLayout">
      <b>標準体重</b>
      <br>
      <div align="center" class="contentLayout">
        <label>身長(m) × 身長(m) × 22</label>
      </div>
      <br>
      <label>で計算されます。</label>
      <br>
      <div align="center" class="contentLayout">
        <label>165cmの人の場合、1.65 × 1.65 × 22 = 59.895となります。</label>
      </div>
    </div>
  </div>

</body>
</html>