<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../resources/css/table.css">
<link rel="stylesheet" type="text/css" href="../resources/css/common/standardWeightModal.css">
</head>
<body>


<div id="standardWeight-modal-content">
	<p>標準体重とは。。。<p>
	<p>計算式</p>
	<p>身長(m) × 身長(m) × 22</p>
	<p>で計算されます。</p>
	<p>165cmの人の場合、1.65 × 1.65 × 22 = 59.895となります。</p>
</div>


<script type="text/javascript" src="../resources/js/lib/jquery.min.js"></script>
<script type="text/javascript" src="../resources/js/common/standardWeightModal.js"></script>

</body>
</html>